.landing {
    font-family: Lato;
}
.landing__about {
    padding: 40px 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px solid #F4F4F4;
}
    .about__img {
        height: 115px;
        padding: 30px;
        border: 1px solid #F4F4F4;
        margin-right: 30px;
    }
    .about__description {
        display: flex;
        flex-direction: column;
    }
    .description__info {
        color: #000;
        font-size: 18px;
        font-weight: 400;
        margin: 0;
    }
        .description__name {
            color: #000;
            font-size: 51px;
            font-weight: 700;
            line-height: initial;
            padding-bottom: 40px;
        }

        .description__links {
            display: flex;
            justify-content: space-between;
        }
            .links__item {
                font-size: 19px;
                color: #0050BA;
                text-decoration: none;
                padding-left: 15px;
                padding-right: 15px;
            }
            .links__item--first {
                padding-left: 0;
            }

    .about__buttons {
        display: flex;
        flex-direction: column;
    }       
        .buttons__item {
            padding: 10px 15px;
            background-color: #fff;
            border-radius: 5px;
            border: 1px solid #E7E7E7;
            color: #000;
            text-decoration: none;
            display: flex;
            align-items: center;
            margin-bottom: 15px;
            box-shadow: 0 2px 2px 0 #E7E7E7;
        }
            .buttons__item-img {
                margin-right: 15px;
            }

.landing__integrations {
    padding-bottom: 200px;
}
    .integrations__links-block {
        display: flex;
        align-items: baseline;
        padding: 40px 0;
    }
        .integrations__title {
            display: inline-block;
            font-size: 19px;
            color: #000;
            font-weight: 400;
            margin: 0;
        }
        .integrations__link {
            color: #0050BA;
            font-size: 15px;
            margin-left: 20px;
        }
    .integrations__item-block {
        display: flex;
    }
        .integrations__item {
            display: flex;
            justify-content: space-around;
            align-items: flex-end;
            padding: 30px;
            border: 1px solid #F4F4F4;
            border-radius: 2px;
        }
        .integrations__item--first {
            margin-right: 20px;
        }
            .integrations__item-logo {
                padding: 20px;
                border: 1px solid #F4F4F4;
                border-radius: 3px;
                margin-right: 30px;
                align-self: flex-start;
            }
            .integrations__item-title {
                font-size: 22px;
            }
            .metrika-img {
                width: 67px;
            }
            .integrations__item-desc {
                font-size: 15px;
                color: #626262;
                padding: 15px 0;
            }
            .integrations__item-footer {
                display: flex;
                justify-content: space-between;
            }
                .integrations__contributers {
                    display: flex;
                }
                    .contributers__item {
                        width: 22px;
                        height: 22px;
                        border-radius: 50%;
                        background-color: #E96565;
                        margin-right: 10px;
                    }
                .integrations__footer-link {
                    font-size: 13px;
                    color: #626262;
                }
@media all and (max-width: 800px) {
    .landing__about {
        flex-direction: column;
        width: 100%;
        text-align: center;
    }
        .about__img {
            margin-right: 0;
        }
        .about__description {
            margin: 25px 0;
        }
            .description__info {
                font-size: 16px;
            }
            .description__links {
                flex-direction: column;
            }
            .description__name {
                font-size: 30px;
                padding-top: 10px;
                padding-bottom: 15px;
            }
        .links__item {
            font-size: 14px;
            padding: 0;
        }
    .landing__integrations {
        padding-bottom: 40px;
    }  
        .integrations__links-block  {
            flex-direction: column;
            padding: 30px 0;
            align-items: center;
        }
            .integrations__title {
                    font-size: 15px;
            }
            .integrations__link {
                margin-left: 0;
            }
    .integrations__item-block {
        flex-direction: column;
    }
        .integrations__item {
            justify-content: flex-start;
        }
        .integrations__item--first {
            margin-right: 0;
            margin-bottom: 15px;
        }
            .integrations__item-logo {
                display: none;
            }
            .integrations__item-footer {
                flex-direction: column;
            }
                .integrations__footer-link {
                    margin-top: 15px;
                }
}
