/**
 * Article cards grid
 */
.articles-grid {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin: -10px;

    @media (max-width: 850px) {
        flex-direction: column;
    }

    &__item {
        width: 33.33%;
        padding: 10px;
        display: flex;

        @media (max-width: 850px) {
            width: auto;
            display: block;
        }
    }
}

/**
* Blogs feed
*/
.feed {
    max-width: 540px;
    margin: 0 auto;
}

.feed-item {
    font-size: 15px;
    box-sizing: border-box;
    word-wrap: break-word;
    margin-bottom: 50px;

    @media (--mobile) {
        display: flex;
        flex-direction: column;
    }

    &--with-cover {
        height: 180px;

        @media (--mobile){
            height: auto;
        }

        .feed-item__description {
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;

            @media (--mobile){
                -webkit-line-clamp: 7;
            }
        }
    }

    &--with-big-cover {
        display: flex;
        flex-direction: column;
        height: auto;

        .feed-item__description {
            -webkit-line-clamp: 5;
        }
    }

    &__info {
        color: #6E7990;
        font-size: 13px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-bottom: 7px;
    }

    &__time {
        margin-right: 11px;
    }

    &__author-photo {
        img {
            width: 17px;
            height: 17px;
            vertical-align: middle;
            border-radius: 50%;
            margin: -2px 3px 0 0;
        }

        &:nth-of-type(2){
            margin-left: -9px;

            img {
                box-shadow: 0 0 0 3px #fff;
            }
        }
    }

    &__author-name {
        color: inherit;
    }

    &__title {
        font-size: 20px;
        line-height: 1.3em;
        font-family: var(--serif-font);
        font-weight: bold;
        text-decoration: none;
        letter-spacing: -0.75px;
        color: inherit;
    }

    &__description {
        margin-top: 7px;
        font-size: 14.4px;
        letter-spacing: 0.2px;
        line-height: 1.55em;
    }

    &__cover {
        float: right;
        margin-left: 70px;
        margin-top: 5px;
        background-position: center;
        display: block;
        height: 130px;
        width: 130px;
        border-radius: 3px;
        background-size: cover;

        @media (--mobile){
            width: 100%;
            margin: 20px 0 0 0;
            order: 3;
        }

        &--big {
            order: 3;
            width: 100%;
            height: 300px;
            margin: 20px 0 0 0;
        }
    }

    /**
     * Big articles view
     */
    &--big {
        border: 1px solid var(--line-light);
        border-radius: 3px;
        padding: 26px 30px;
        margin-left: -30px;
        margin-right: -30px;

        @media (--mobile){
            background: #fcfcfd;
            border: 0;
        }

        ^&__title {
            font-size: 26px;
        }

        ^&__description {
            font-size: 16.2px;
        }
    }
}

.feed-item--big.feed-item--with-cover {
    box-sizing: content-box;
}


/**
* Mobile viewport styles
* =================================
*/
@media (--mobile) {
    /**
    * Contest promo link on index page
    */
    .contest_alert a {
        margin: 20px 0;
    }
}
