.course {
    margin: 30px 0px;
}

.course__title {
    text-align: center;
    position: relative;
    margin-bottom: 25px;
}

.course__title::before {
    display: block;
    content: 'курс';
    font-size: 14px;
    line-height: 1.5em;
    font-weight: normal;
    margin-bottom: 10px;
}

.courses-list {
    max-width: 600px;
    margin: 0 auto;
    padding: 0;
    list-style: none;
}

.courses-list__item {
    margin-top: 15px;
    text-align: center;
}

.courses-list__link {
    text-decoration: none;
    padding-bottom: 3px;
    border-bottom: 1px solid #d6deec;
    line-height: 1.5em;
}

.courses-list__link:hover {
    text-decoration: none;
}

