/**
* CodeX logo on index page
*/
.index-page {
    padding: 100px 0 70px;

    p {
        max-width: 500px;
        margin: 15px auto;
        font-size: 14.9px;
        letter-spacing: 0.015em;
        line-height: 1.65em;
    }

    &__join-button {
        margin: 1.5em auto 0;
        padding: 16px 30px;
        font-size: 1.2em;
        display: block;
        max-width: 140px;
        text-align: center;
    }
}

.index-page .codex-logo {
    display: block;
    margin: 0 auto 50px;
}

.thanks-block {
    svg {
        display: block;
        max-width: 60px;
        margin: 20px auto;
    }
}

/**
* Mobile viewport styles
* =================================
*/
@media (--mobile) {
    /**
    * Index page mobile
    */
    .index-page {
        padding: 50px 0;
    }

    .index-page p {
        padding: 0 10px;
    }
}
