/**
*
* User profile
*
*/
.profile {
    padding: 150px 0 110px;
    text-align: center;
}

.profile-ava {
    position: relative;
    display: inline-block;
}

.profile-ava__settings {
    position: absolute;
    bottom: -6px;
    right: 0;
    background: #fff url('/public/app/img/icon_gear.png') no-repeat center center;
    width: 29px;
    height: 29px;
    border-radius: 50%;
    transition: transform 150ms ease;
    will-change: transform;
}

.profile-ava__settings:hover {
    transform: rotate(45deg);
}

.profile-ava__photo,
.profile-settings__ava {
    display: inline-block;
    width: 100px;
    height: 100px;
    background: #e9ecf5;
    border-radius: 50%;
    overflow: hidden;

    /** Style for text placeholder from img-alt */
    font-size: 100px;
    line-height: 1em;
    letter-spacing: 50px;
    color: #cad2e0;
    font-weight: bold;
}

.profile-ava__photo > img,
.profile-settings__ava > img {
    vertical-align: top;
    margin: -1px 0 0 -2px;
    width: 103px;
    height: 103px;
}

.profile__name {
    margin: 1.5em 0 0.74em;
    font-size: 2.2em;
}

.profile__bio {
    font-size: 1.2em;
    line-height: 1.5em;
}

.profile__social {
    display: inline-block;
    padding: 2px 3px;
    margin: 25px 18px;
    border-radius: 15px;
    text-decoration: none;
    font-size: 1.5em;
}

.profile__social:not(.github) {
    color: #9c9da2;
}

.profile__social:hover {
    color: #4c5063;
}

.profile__social.github:not(.profile__social_no_insta) {
    font-size: 2.1em;
    line-height: 0.5em;
}

.profile__logout {
    display: inline-block;
    margin-top: 30px;
    font-size: 18px;
    text-decoration: none !important;
    color: #b9bfca;
    border-bottom: 1px solid #dce1e8;
}

.profile__logout:hover {
    color: #8d9aaf;
    border-bottom-color: #c4ceda;
}


/**
* Profile settings form
*/
.profile-settings {
    padding: 40px 0;
}

.profile-settings label {
    display: block;
    margin-bottom: 0.7em;
}

.profile-settings__form {
    margin-left: 40px;
    padding-left: 35px;
    border-left: 3px solid #8b9aaf;
    max-width: 280px;
}

.profile-settings__form input:not(:last-of-type),
.profile-settings__form textarea,
.profile-settings__ava {
    margin-bottom: 20px;
}

.profile_join_requests {
    color: #9a9a9a;
    font-style: italic;
}

@media (--mobile) {
    /**
    * Users profiles
    */
    .profile {
        padding: 70px 0;
    }

    /**
    * Profile settings
    */
    .profile-settings .button:not(.button--master) {
        margin-top: -38px;
    }

    .profile-settings .fl_l {
        float: none;
    }

    .profile-settings__form {
        margin-left: 0;
        padding-left: 0;
        border-left: 0;
    }
}

@media print, (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 1.25dppx), (min-resolution: 120dpi) {
    .profile-ava__settings {
        background: #fff url('/public/app/img/icon_gear@2x.png') no-repeat center center;
        background-size: 21px 21px;
    }
}

