/**
* /task pages styles
*/
.task-page {
    padding-bottom: 50px;

    &__cols {
        display: flex;
        align-items: stretch;
        justify-content: space-between;
        max-width: var(--article-max-width);
        margin: 50px auto;

        @media (--mobile) {
            flex-direction: column;
        }
    }

    &__left {
        padding-right: 50px;

        @media (--mobile) {
            margin-bottom: 50px;
        }
    }

    h3 {
        margin-top: 0;
    }
}

.additional_tasks {
    margin: 0;
    padding: 0;

    li {
        position: relative;
        margin: 0 !important;
        list-style-type: none;
        padding: 20px 0 20px 30px;
        border-bottom: 1px solid #e4eaf5;

        &::before {
            position: absolute;
            left: 0;
            top: 1.9em;
            width: 10px;
            height: 10px;
            display: inline-block;
            border-radius: 5px;
            background: #dfe7f5;
            margin-right: 15px;
            content: '';
        }
    }

    .back::before {
        background: #6699df;
    }

    .front::before {
        background: #e87474;
    }

    .ui::before {
        background: #9bf1b3;
    }

    &--legend {
        li {
            display: inline-block;
            border-bottom: 0;
            margin-right: 50px !important;
            font-size: 14px;
            font-weight: bold;

            &::before {
                top: 2em;
            }
        }
    }
}
