/**
* Navigation line
* Breadcrumbs
*/
.breadcrumb {
    margin-bottom: 50px;
    padding-left: 20px;
    border-left: 3px solid #d6d6d6;
    color: #a2a2a2;
}

.breadcrumb h1 {
    display: inline-block;
    margin: 0 5px;
    font-size: inherit;
    font-weight: normal;
}

.breadcrumb a {
    display: inline-block;
    margin-right: 5px;
    color: inherit;
}
