/**
 * Course navigation
 */
.course-navigation {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--text-gray);
    max-width: 48.5%;
    padding: 15px 0;

    &-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        align-items: center;
        max-width: var(--article-max-width);
        margin: 60px auto;
    }

    &:hover {
        text-decoration: none;
        color: color(var(--text-gray) blackness(+50%));
        cursor: pointer;
    }

    &--previous {
        text-align: left;
        margin-right: auto;
    }

    &--next {
        text-align: right;
        margin-left: auto;
    }

    &__title {
        display: flex;
        align-items: center;
        width: 100%;

        &--next::after {
            display: inline-block;
            content: '';
            width: 1px;
            height: 16px;
            background: url('/public/app/img/arrow-forward.svg') no-repeat;
            margin-left: 20px;
            padding-left: 10px;
        }

        &--previous::before {
            display: inline-block;
            content: '';
            width: 1px;
            height: 16px;
            background: url('/public/app/img/arrow-back.svg') no-repeat;
            margin-right: 20px;
            padding-left: 10px;
        }
    }
}

@media (--mobile) {
    .course-navigation {
        width: 100%;
        max-width: none;
        border-bottom: 1px solid #e2e6ea;
        padding: 50px 0 20px;

        &-wrapper {
            box-sizing: content-box;
            margin: 0 auto -10px;
            padding-left: 20px;
        }

        &--previous {
            display: none;
        }

        &--next {
            text-align: left;
            padding: 35px 0 20px;
        }

        &__title {
            font-size: 14px;

            &--next::after {
                margin-left: auto;
                margin-right: 20px;
            }
        }
    }
}
