.join-component {
    margin: 156px 0 152px;
    text-align: center;

    &__desc {
        max-width: 322px;
        margin-bottom: 32px;
    }

    &__button {
        font-size: 16.9px;
        font-weight: 500;
        color: #fff;
        border-radius: 3px;
        background-color: #4a90e2;
        padding: 10px 35.5px;
        
        &:hover {
            color: #fff;
            background: #3c7ab9;
        }
    }

    &__time {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 24px;
        font-weight: 500;
        line-height: 1.08;
        color: #6c7580;
        margin-bottom: 60px;

        &-delimiter {
            padding: 0 8px;

            span {
                display: block;
                border-radius: 50%;
                width: 4px;
                height: 4px;
                background-color: #6c7580;

                &:first-of-type {
                    margin-bottom: 3px;
                }
            }

            &--blinking {
                span:last-of-type {
                    opacity: 0;
                    animation: blinker 1s steps(2, start) infinite;
                    animation-fill-mode: both;
                    animation-delay: 1s;
                }
            }
        }

        &-item {
            position: relative;

            &::after {
                display: block;
                position: absolute;
                top: 100%;
                left: 50%;
                transform: translateX(-50%);
                font-size: 14px;
                font-weight: 400;
                line-height: 1.86;
                content: attr(data-time);
            }
        }
    }
}

/**
 * Blinking animation for last colon delimiter
 */
@keyframes blinker {
    to {
        opacity: 1;
    }
}