.lazy-load {
    background: #f7fafb;
    border-radius: 3px;
    width: 150px;

    &__media {
        opacity: 0;
        transition: opacity 0.6s ease;
    }

    &--loaded {
        width: auto;
        background: transparent;

        > ^&__media {
            opacity: 1;
        }
    }
}
