/**
 * Editor landing header
 */
.site-header,
.site-footer {
    border-color: #e7e9f5;
}

/**
 * Landing footer
 */
.site-footer {
    border-top: 0;
    margin-top: 0;
    background: #1a1c29;
    color: #50586d;
}

.site-footer h5 {
    color: #9da9cc;
}

.site-footer a {
    color: #6581c5;
}

.site-footer .desclimer {
    color: #535f7b;
}