/**
 * Editor landing page
 */

.site-header,
.site-footer {
    border-color: #e7e9f5;
}

.editor-landing {
    margin: 220px auto 0;
}

/**
 * First landing screen
 */
.editor-landing__info {
    margin-bottom: 70px;
    padding-bottom: 110px;
    border-bottom: 1px solid rgba(151, 151, 151, 0.11);
}

.editor-landing__title {
    margin: 0 !important;
    text-align: center;
    line-height: 1.2em;
    font-size: 35px;
    letter-spacing: 1px;
    color: #000;
    font-weight: 900;
}

.editor-landing__emoji {
    text-align: center;
    margin-bottom: 15px;
}

.editor-landing__emoji-item {
    width: 36.8px;
    height: auto;
}

.editor-landing__description {
    max-width: 250px;
    margin:  10px auto;
    font-size: 14.3px;
    line-height: 1.47;
    letter-spacing: 0.1px;
    text-align: center;
    color: #7b7e89;
}

/**
 * Editor documentation and plugins links block
 */
.editor-landing__links {
    max-width: 210px;
    margin: 60px auto;
}

.editor-landing__links-item {
    font-size: 16px;
    font-weight: 500;
    color: #000;
}

.editor-landing__links-item:first-of-type {
    margin-right: 26px;
}

.editor-landing__demo {
    max-width: 1100px;
    margin: 0 auto;
}

/**
 * Editor output JSON preview styles
 */
.editor-landing__preview {
    background: #1b202b;
    padding: 0 30px;
    overflow-x: auto;
}

.editor-landing__preview pre {
    max-width: 650px;
    margin: 30px auto;
    color: #abadc3;
    font-family: 'PT Mono', Menlo, Monaco, Consolas, Courier New, monospace;
    font-size: 13.3px;
}

/**
 * JSON output code highlighting
 */
.sc_attr {
    color: rgb(148, 162, 192);
}

.sc_toolname {
    color: rgb(15, 205, 251);
}

.sc_tag {
    color: rgb(4, 131, 216);
}

.sc_key {
    color: rgb(190, 213, 255);
}

.sc_bool {
    color: rgb(247, 60, 173);
}

/**
 * Editor save button
 */
.editor-landing__button-wrapper {
    text-align: center;
}

.editor-landing__button {
    margin-bottom: 70px;
    font-size: 15px;
    font-weight: 300;
    background: #5c95cf;
    color: #fff;
}

/**
 * Landing footer
 */
.site-footer {
    border-top: 0;
    margin-top: 0;
    background: #1a1c29;
    color: #50586d;
}

.site-footer h5 {
    color: #9da9cc;
}

.site-footer a {
    color: #6581c5;
}

.site-footer .desclimer {
    color: #535f7b;
}

/**
 * Mobile viewport styles
 * =================================
 */
@media all and (max-width: 800px) {
    .editor-landing {
        margin: 110px auto 0;
    }

    .editor-landing__info {
        padding-bottom: 80px;
        margin-bottom: 40px;
    }

    .editor-landing__links {
        margin: 30px auto;
    }

    .editor-landing__links-item {
        font-size: 14px;
    }

    .editor-landing__title {
        font-size: 28px;
    }

    .editor-landing__description {
        font-size: 13px;
    }

    .editor-landing__button {
        font-size: 13px;
    }
}
