phpmyadmin/*
application/cache/*
application/logs/*
upload/*
public/extensions/editor/node_modules/*
pma/*
.DS_Store
sftp-config.json
.idea/.name
*.xml
*.iml
*.sublime-project
*.sublime-workspace
.htaccess
.ftpconfig
application/config/database.php
application/config/oauth.php
application/config/redis.php
application/config/telegram-notification.php
public/img/covers/*
/nbproject/private/
*~
tools/.token
Thumbs.db
ehthumbs.db
