phpmyadmin/*
application/cache/*
application/logs/*
upload/*
vendor/*
.env
composer.lock

# Editor files
node_modules/
public/extensions/codex.editor/modules/
public/extensions/codex.editor/webpack.config.js
public/extensions/codex.editor/index.js
public/extensions/codex.editor/editor.js
public/extensions/codex.editor/package.json
public/extensions/codex.editor/codex-editor.js.map

pma/*
.DS_Store
sftp-config.json
.idea/.name
*.xml
*.iml
*.sublime-project
*.sublime-workspace
.htaccess
.ftpconfig
application/config/database.php
application/config/oauth.php
application/config/redis.php
application/config/telegram-notification.php
application/config/cache.php
public/img/covers/*
/nbproject/private/
*~
tools/.token
Thumbs.db
ehthumbs.db

*.log
