@font-face {
font-family:"PT Sans"; 
src: url(../fonts/PT_Sans/Sans.ttf); 
   }
 @font-face {
font-family: 'fontello';
src: url('../fonts/fontello/fontello.eot?69390776');
src: url('../fonts/fontello/fontello.eot?69390776#iefix') format('embedded-opentype'),
           url('../fonts/fontello/fontello.woff?69390776') format('woff'),
           url('../fonts/fontello/fontello.ttf?69390776') format('truetype'),
           url('../fonts/fontello/fontello.svg?69390776#fontello') format('svg');
font-weight: normal;
font-style: normal;
}
body{
   font-family:"PT Sans"; 
	 text-align: left; 
   background: #fff; 
   margin-top: 30px;
		}
#block{
	width: 800px; 
  height: 100%; 
  margin: 0 auto; 
	}
h1{
	text-align:left; 
	line-height: 2;
	padding-top:40px;
	padding-bottom:0px;
	font-weight: bold;
	font-size:40px;
	
	}
	
h3{
	font-size:16px; 
	color:gray;
	margin-top:10px;
	padding-bottom:70px;
	}

p{ 
	font-size:15px;
	font-weight: 400;
	line-height: 1.8;
	margin-top: 30px;
	margin-bottom:30px;

	}


.header{
    margin:0px;
    padding:0px;
}

hr{
	clear:both;
	size:3px;
	opacity:0.6;
}
i{
 font-family:"fontello"; 
}
.comment{
color:gray;
margin-left: 10px;
float:left;
margin-bottom:60px ;
margin-top:20px ;
vertical-align: bottom;
}
.comment:hover{
	color:black;
}

.icons{
	float:right;
	width:200px;
	height:70px;
	padding-top: 30px;
  margin: auto;
  font-style: normal;
  color:gray;
    
}
.demo-icon{
	margin: 15px;
	font-style: normal;
	font-size: 20px;
	vertical-align: bottom;
}
.demo-icon:hover{
  color:black;
  cursor:pointer;

}
span{
  font-size: 14px;
 }
span:hover{
	cursor:pointer;
}
.site_header {
  border-bottom: 1px solid #eceff6;
  font-size: 0;
  }

 .center_side {
max-width: 1000px;   
  }

.site_menu {
margin: 0 auto;
box-sizing: border-box;
text-align: left;
width: 800px; 
}

.site_header a {
font-family:"PT Sans"; 
position: relative;
display: inline-block;
padding: 18px;
color: #6091c8;
text-decoration: none;
font-size: 15px;

 }

.site_header a:hover::before, .site_header .current::before {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 3px;
    background: #dde2e9;

   }