/**
* Article styles with editor plugins
*/



/**
* Article page styles
*/

.article{
    margin: 30px 0;
    padding-bottom: 20px;
    border: 1px solid #eceff6;
    border-radius: 3px;
}
.article__title{
    padding: 100px 140px 40px;
    text-align: center;
    line-height: 1.2em;
    font-size: 54px;
}


.article__info{
    text-align: center;
}



/*.article_info{
    text-align: center;
    margin-bottom: 70px;
}
    .article_info .list_user_ava{
        margin: 0 20px;
        border: 0;
        display: inline-block;
    }
    .article_info .ava_holder{
        display: inline-block;
        position: relative;
    }
    .article_info time,
    .article_info .list_user_name{
        position: absolute;
        top: 7px;
    }
        .article_info time{
            color: #9095a2;
            text-align: right;
            left: -250px;
            width: 250px;
        }
        .article_info .list_user_name{
            text-align: left;
            right: -250px;
            width: 250px;
        }*/

.article_content{
    font-size: 1.1em;
    line-height: 1.75em;
    word-wrap: break-word;
    letter-spacing: 0;
}
    .article_content img{
        max-width: 100%;
        margin: 30px 0;
    }
    .article_content a{
        color: #2574CE;
        text-decoration: none;
        border-bottom: 1px solid #B2C9F3;
    }
        .article_content a:hover{
            color: #2C70F5;
            border-bottom-color: #6E8FEC;
        }
    .article_content code{
        display: block;
        padding: 10px 15px;
        background-color: #F9FAFB;
        font-family: 'monospace', 'monaco', 'consolas', 'courier';
        font-size: 14px;
        color: #3D597B;
    }
    .article_content li{
        margin: 0.2em 0;
    }
    .article_content blockquote{
        margin: 30px 0;
        /*padding: 45px 60px;*/
        border-top: 2px solid #EDEFF1;
        border-bottom: 2px solid #EDEFF1;
        font-size: 1.2em;
        line-height: 1.7em;
    }



/** Paragraph styles */
.article_content p,
.article_content h1,
.article_content h2,
.article_content h3,
.article_content h4,
.article_content h5,
.article_content h6,
.article_content ul,
.article_content ol,
.article_content code,
.article_content blockquote,
.article_content img {
    max-width: 700px;
}


.article_content p,
.article_content code {
    margin: 1.3em auto;
}

.article_content ul,
.article_content ol {
    margin: 1em auto;
}

.article_content h1,
.article_content h2,
.article_content h3,
.article_content h4,
.article_content h5,
.article_content h6 {
    margin: 2em auto 1.2em;
}

.article_content img {
    display: block;
    margin: 1.5em auto;
}

.article_content blockquote {
    /*padding: 1.7em 2.5em;*/
    padding: 1.7em 40px;
    margin: 2em auto;
}

/** Image styles */
.ce-plugin-image__uploaded--centered {
    margin: 0 auto !important;
    display: block;
}

.ce-plugin-image__uploaded--stretched {
    margin: 0;
    max-width: 100% !important;
}

    .article_content .ce-plugin-image__caption {
        margin: 1em auto;
        text-align: center;
        color: #898a8c;
    }

/** Quote styles */
.quoteStyle-simple--text {
    padding: 1.2em 2.1em;
    margin: 2.5em 2em;
    background: #FBFBFB;
}

    .quoteStyle-withCaption--blockquote {
        margin: 0 1em;
        padding: 1.5em 2.0em;
    }

    .quoteStyle-withCaption--author {
        text-align: right;
        font-size: 1.16em;
        font-weight: bold;
        color: #000;
        line-height: 1.5em;
    }

    .quoteStyle-withPhoto--wrapper {
        margin: 0;
        padding: 1.5em 3.6em;
    }

    .quoteStyle-withPhoto--photo {
        width: 70px;
        height: 70px;
        overflow: hidden;
        text-align: center;
        line-height: 70px;
        border-radius: 50%;
        float: left;
        margin-right: 25px;
        border: 2px dashed #D7E2EE;
    }
    .authorsPhoto {
        height: 110%;
        vertical-align: top;
        margin: 0 !important;
    }

    .authorsPhoto-wrapper {
        border: 0;
    }

    .quoteStyle-withPhoto--author {
        font-size: 1.36em;
        font-weight: bold;
        color: #000;
        outline: none;
        overflow: hidden;
        margin-bottom: 8px;
    }
    .quoteStyle-withPhoto--job {
        font-size: 1.04em;
        color: #818BA1;
        outline: none;
        overflow: hidden;
    }
    .quoteStyle-withPhoto--quote {
        margin-top: 33px;
        line-height: 1.82em;
        outline: none;
        overflow: hidden;
    }

/** Link tool */
.ce-link {
    max-width: 700px;
    margin: 20px auto;
    padding: 0 !important;
}

    .clearfix:after {
        visibility: hidden;
        display: block;
        font-size: 0;
        content: " ";
        clear: both;
        height: 0;
    }

    .ceditor-tool-link-input {
        outline: none;
        border: 0;
        width: 100%;
        background: transparent;
        font-size: 1em;
        padding: 8px 25px;
        transition: background 200ms;
        border-left: 3px solid #65d8b3;
    }

    .tool-link-panel {
        position: relative;
        margin: 5px 0;
        background: #f8f7ef;
        border: 1px solid transparent;
        padding: 25px 30px;
    }

    .tool-link-image {
        float:right;
        width: 75px;
        border-radius: 3px;
    }

    .tool-link-title {
        display: block;
        width: 340px;
        margin-bottom: 4px;
        line-height: 1.2em;
        font-size: 20px;
        font-weight: 700;
        color: #000;
    }

    .tool-link-description {
        display: block;
        margin-top: 10px;
        font-size: 14px;
        color: #000;
    }

    .tool-link-link {
        width: 360px;
        font-size: 10px;
        margin-bottom: 4px;
        letter-spacing: 1px;
        overflow: hidden;
        text-transform: uppercase;
        text-decoration: none;
        color: rgba(165,156,86,.8);
    }

    .tool-link-error {
        background: rgb(255, 241, 241);
        color: #bf4747;
    }
    .tool-link-error .ceditor-tool-link-input {
        border-left-color: #d86b6b
    }

/** For small devices */
@media all and (max-width: 800px) {

    .article {
        margin: 0;
        border: 0;
    }

    .article_info {
        margin-left: 0;
        font-size: 15px;
    }

    .article_info time {
        display: block;
        margin-bottom: 10px;
        text-align: center;
    }

    .article_info .list_user_ava {
        margin: 0 10px 0 0;
        vertical-align: text-bottom;
    }

    .article_info .list_user_ava,
    .article_info .list_user_ava > img {
        width: 20px;
        height: 20px;
    }

    .article_info .list_user_ava > img {
        vertical-align: top;
    }

    .article_info time,
    .article_info .list_user_name {
        position: static;
    }

    .article_content p,
    .article_content h1,
    .article_content h2,
    .article_content h3,
    .article_content h4,
    .article_content h5,
    .article_content h6,
    .article_content ul,
    .article_content ol,
    .article_content code,
    .article_content blockquote,
    .article_content img {
        max-width: 88%;
    }

    .article_content {
        max-width: 100%;
        font-size: 16px;

    }

    .article_content blockquote {
        font-size: 1.1em;
        line-height: 1.5em;
        padding: 20px ;
    }

    .article_content code {
        padding: 10px;
        font-size: .7em;
        line-height: 1.5em;
    }

    .article_content h2 {
        line-height: 1.45em;
    }

    /** Link styles */
    .ce-link {
        max-width: 88%;
        margin: 20px auto;
        padding: 0 !important;
    }

    .tool-link-title {
        display: block;
        max-width: 100%;
        margin-bottom: 4px;
        line-height: 1.2em;
        font-size: 20px;
        font-weight: 700;
        color: #000;
    }

    .tool-link-link {
        max-width: 100%;
        font-size: 10px;
        margin-bottom: 4px;
        letter-spacing: 1px;
        overflow: hidden;
        text-transform: uppercase;
        text-decoration: none;
        color: rgba(165,156,86,.8);
    }

    /** Quote styles */
    .quoteStyle-simple--text {
        padding: 1.2em 2.1em;
        margin: 2.5em 2em;
        background: #FBFBFB;
    }

    .quoteStyle-withCaption--blockquote {
        margin: 0;
        padding: 0;
    }

    .quoteStyle-withCaption--author {
        text-align: right;
        font-size: 1.16em;
        font-weight: bold;
        color: #000;
        line-height: 1.5em;
        margin-top: 20px;
    }

    .quoteStyle-withPhoto--wrapper {
        margin: 0;
        padding: 1.5em 3.6em;
    }

    .quoteStyle-withPhoto--photo {
        width: 70px;
        height: 70px;
        overflow: hidden;
        text-align: center;
        line-height: 70px;
        border-radius: 50%;
        float: left;
        margin-right: 25px;
        border: 2px dashed #D7E2EE;
    }
    .authorsPhoto {
        height: 110%;
        vertical-align: top;
        margin: 0 !important;
    }

    .authorsPhoto-wrapper {
        border: 0;
    }

    .quoteStyle-withPhoto--author {
        font-size: 1.36em;
        font-weight: bold;
        color: #000;
        outline: none;
        overflow: hidden;
        margin-bottom: 8px;
    }
    .quoteStyle-withPhoto--job {
        font-size: 1.04em;
        color: #818BA1;
        outline: none;
        overflow: hidden;
    }
    .quoteStyle-withPhoto--quote {
        margin-top: 33px;
        line-height: 1.82em;
        outline: none;
        overflow: hidden;
    }

}

/**
* Mobile viewport
*/
@media all and (max-width: 800px){

   .article__title{
        padding: 30px;
        font-size: 33px;
    }
}