a {
    color: #6091c8;
    text-decoration: none;
}

a:hover {
    color: #E87474;
    text-decoration: none;
}

.site_container{
    max-width: 1000px;
    margin: 0 auto;
}


/* Article styles */
.articles_container, .form-container {
    margin: 0 30px;
}

.article_underscore {
    border-bottom: 1px solid #eceff6;
}

.time_subtitle {
    color: #a5bcc8;
}

.article_image {
    text-align: center;
    display: block;
    width: 100%;
}

.article_footer {
    text-align: justify;
    height: 60px;

    /* IE special */
    width: 100%;
    -ms-text-justify: distribute-all-lines;
    text-justify: distribute-all-lines;
}

.article_footer:after{
    content: '';
    display: inline-block;
    width: 100%;
    height: 0;
    font-size:0;
    line-height:0;
}

.read_more {
    display: inline-block;
    margin-top: 0.321em;

    /* ie 7*/
    *display: inline;
    *zoom: 1;
    *text-align: left;
}

.article_tags {
    display: inline-block;
    vertical-align: baseline;

    /* ie 7*/
    *display: inline;
    *zoom:1;
    *text-align: right;

}

.article_tag {
    display: inline-block;
    padding: 0 4px;
    background-color: #E2EFFD;
    font-family: 'monaco', 'consolas', 'courier', serif;
    font-size: 13px;
    color: #5B8AC3;
}


/* FORMS */

form .form-container label {
    display: block;
    color: #424242;
    margin-bottom: 7px;
    font-weight: bold;
}

form .preface textarea {
    height : 80px
}

.body {
    height : 300px
}

form .form-container input, form .form-container textarea {
    font-size: 14px;
    display: block;
    margin: 0;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #d9d9d9;
    padding: 0;
    color: #3b3b3b;
    text-indent: 5px;
}

form .form-container input {
    height: 27px;
    line-height: 27px;
}

.button {
    padding: 0 10px;
    background-color: #6091c8 !important;
    color: #fff !important;
    width: 200px !important;
    height: 30px !important;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    background-repeat: repeat-x;
    text-decoration: none;
    line-height: 39px;
    display: inline-block;
    margin: 0;
}

/* TAGS */

.searching_tab {
       position : relative;
        display : block;
          width : 100%;
         height : 50px;
          color : #000;
      font-size : 16px;
        padding : 16px;
     text-align : center;
  border-bottom : 1px solid #eceff6;
background-color: rgba(179,252,205,0.5);
}
.not_found{
background-color: rgba(252,179,179,0.5);
}
.query{
display : inline-block;
  color : #E87474; 
}