/**
* Contests module stylesheets
* @todo refactor styles
*/




/**
* Contests list
*/
.contests-list {
    position: relative;
    border-top: 1px solid #d2dde5;
}
    .contests-list::before {
        display: block;
        content: attr(data-heading);
        position: absolute;
        left: 97px;
        top: -14px;
        padding: 3px 15px;
        background: #fff;
        color: #b0c4d3;
        font-variant: small-caps;
        font-size: 18px;
        letter-spacing: 1px;
    }
    .contests-list .item {
        padding: 50px 0;
    }
    .contests-list .date {
        float: left;
        width: 60px;
        color: #a8adb6;
        text-align: center;
    }
        .contests-list time:last-child:before{
            content: '—';
            display: block;
            line-height: .8em
        }

    .contests-list .icon {
        width: 79px;
        height: 52px;
        margin: 0 30px;
    }
        .contests-list .icon img{
            width: 100%;
            image-rendering: -moz-crisp-edges;
            image-rendering: -webkit-optimize-contrast;
        }
    .contests-list .title {
        display: inline-block;
        margin: 0 0 8px;
        font-size: 18px;
        color: inherit;
        text-decoration: none;
        font-weight: bold;
    }
        .contests-list .title:hover {
            color: #4888DC;
        }


/**
* Contest page
*/

.contest{
    padding: 30px 0;
}
.contest .disclaimer{
    color: #988e8e;
    font-variant: small-caps;
    letter-spacing: 1.4px;
}
.contest .disclaimer{
    font-size: 14px;
    margin: 40px;
    text-align: center;
}

.contest .line{
    position: relative;
    margin: 0 70px;
    height: 1px;
    background: #ebe8e8;
}
    .contest .line:before{
        content: '';
        position: absolute;
        left: 50%;
        top: -19px;
        width: 40px;
        height: 40px;
        margin-left: -20px;
        background: #fff url('../img/contest_icon_goblet.png') no-repeat 50% 50%;
    }

.contest img{
    max-width: 100%;
}

.contest .result{
    padding-top: 80px;
    font-size: 1.1em;
    line-height: 1.75em;
    word-wrap: break-word;
}
    .contest .result p,
    .contest .result h2{
        margin: 25px 70px;
    }
        .contest .result h2{
            margin-bottom: 2em;
        }


.contest .article__title{
    padding-top: 0;
}
.contest_info{
    width: 80%;
    margin: 0 auto 50px;
    color: #9a9ca0;
}
    .contest_info td{
        width: 33%;
        text-align: center;
    }
    .contest_info td:nth-of-type(2){
        width: 34%;
        border-left: 1px solid #caced4;
        border-right: 1px solid #caced4;
    }
    .contest_info time{
        display: inline-block;
        text-align: left;
        vertical-align: middle;
        margin-left: 10px;
        font-weight: bold;
        line-height: 1.1em;
    }
.contest .winner{
    max-width: 300px;
    margin: 80px auto;
    text-align: center;
}
    .contest .title{
        color: #aeb5bb;
        letter-spacing: 1px;
        font-size: 13px;
    }
    .contest .name{
        margin: 10px 0 7px;
        color: #495d6f;
        font-size: 18px;
        font-weight: bold;
    }
    .contest .nick{
        text-decoration: none;
    }
        .contest .nick::before,
        .contest .nick::after{
            content: '';
            display: inline-block;
            margin: 0 4px;
            width: 55px;
            height: 26px;
            background: url('../img/branches.png') no-repeat;
            vertical-align: top;
        }
            .contest .nick::after{
                background-position: -55px 0;
            }
    .contest .toggler{
        display: inline-block;
        margin-top: 40px;
        color: #aeb5bb;
        text-decoration: none;
        border-bottom: 1px solid #E9ECF1;
    }
        .contest .toggler i{
            font-size: 12px;
        }






/**
* Mobile viewport styles
* =================================
*/
@media all and (max-width: 800px){

    /**
    * Contests list
    */
    .contests-list .date,
    .contests-list .icon{
        float: none;
    }
    .contests-list .date{
        width: auto;
    }
    .contests-list time:last-child:before{
        display: inline-block;
        margin: 0 5px 0 2px;
    }
    .contests-list::before{
        left: 50%;
        width: 50px;
        padding: 3px 0;
        margin-left: -25px;
        text-align: center;
    }
    .contests-list .item{
        padding: 25px 0
    }
    .contests-list .icon{
        display: block;
        margin: 15px auto 30px;
    }

    /**
    * Contest page
    */

    .contest_info td{
        display: block;
        width: auto !important;
        padding: 5px 0;
        font-size: 11px;
        font-variant: small-caps;
    }

    .contest .result p,
    .contest .result h2{
        margin: 20px 30px;
    }


}



@media print, (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 1.25dppx), (min-resolution: 120dpi) {


    .contest .line:before{
        background: #fff url('../img/contest_icon_goblet@2x.png') no-repeat 50% 50%;
        background-size: 18px auto;
    }

    .contest .nick::before,
    .contest .nick::after{
        background: url('../img/branches@2x.png') no-repeat;
        background-size: 110px auto;
    }
    .contest .nick::after{
        background-position: -55px 0;
    }


}