/**
* Styles for article and contest form
*/
body{
    background: #f0f3f9;
}
.site-header,
.site-footer{
    background: #fff;
    border-color: #e7e9f5;
}
.editor-form{
    margin: 30px;
    padding: 120px 0;
    min-height: 600px;
    border-radius: 3px;
    background: #fff;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    letter-spacing: .1px;
    font-size: 15px;
}
.editor-form__section {
    max-width: 600px;
    margin: 0 auto 2em;
}

.editor-form label{
    display: block;
    margin-bottom: 1em;
}



/**
* Codex editor overrides
*/
.ce-toolbar__actions{
    right: -130px !important;
}
