@font-face {
  font-family: 'codex_editor';
  src: url('../fonts/codex_editor/codex_editor.eot?52438661');
  src: url('../fonts/codex_editor/codex_editor.eot?52438661#iefix') format('embedded-opentype'),
       url('../fonts/codex_editor/codex_editor.woff?52438661') format('woff'),
       url('../fonts/codex_editor/codex_editor.ttf?52438661') format('truetype'),
       url('../fonts/codex_editor/codex_editor.svg?52438661#codex_editor') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="ce_icon-"]:before, [class*="ce_icon-"]:before {
  font-family: "codex_editor";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;

  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  margin-left: .2em;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ce_icon-instagram:before { content: '\e800'; } /* '' */
.ce_icon-minus:before { content: '\e801'; } /* '' */
.ce_icon-picture:before { content: '\e802'; } /* '' */
.ce_icon-minus-circled:before { content: '\e803'; } /* '' */
.ce_icon-cog:before { content: '\e804'; } /* '' */
.ce_icon-link:before { content: '\e805'; } /* '' */
.ce_icon-unlink:before { content: '\e806'; } /* '' */
.ce_icon-code:before { content: '\e807'; } /* '' */
.ce_icon-quote-right:before { content: '\e808'; } /* '' */
.ce_icon-comment:before { content: '\e809'; } /* '' */
.ce_icon-trash-empty:before { content: '\e80a'; } /* '' */
.ce_icon-down-open:before { content: '\e80b'; } /* '' */
.ce_icon-up-open:before { content: '\e80c'; } /* '' */
.ce_icon-up-big:before { content: '\e80d'; } /* '' */
.ce_icon-down-big:before { content: '\e80e'; } /* '' */
.ce_icon-header:before { content: '\e80f'; } /* '' */
.ce_icon-align-center:before { content: '\e810'; } /* '' */
.ce_icon-align-left:before { content: '\e811'; } /* '' */
.ce_icon-align-right:before { content: '\e812'; } /* '' */
.ce_icon-list:before { content: '\e813'; } /* '' */
.ce_icon-strike:before { content: '\e814'; } /* '' */
.ce_icon-underline:before { content: '\e815'; } /* '' */
.ce_icon-table:before { content: '\e816'; } /* '' */
.ce_icon-columns:before { content: '\e817'; } /* '' */
.ce_icon-bold:before { content: '\e818'; } /* '' */
.ce_icon-italic:before { content: '\e819'; } /* '' */
.ce_icon-smile:before { content: '\e81a'; } /* '' */
.ce_icon-twitter:before { content: '\e81b'; } /* '' */
.ce_icon-plus-1:before { content: '\e81c'; } /* '' */
.ce_icon-plus-circled-1:before { content: '\e81d'; } /* '' */
.ce_icon-quote:before { content: '\e81e'; } /* '' */
.ce_icon-code-1:before { content: '\e81f'; } /* '' */
.ce_icon-trash:before { content: '\e820'; } /* '' */
.ce_icon-list-add:before { content: '\e821'; } /* '' */
.ce_icon-list-1:before { content: '\e822'; } /* '' */



/* EDITOR */
.hidden {display: none !important;}
.hidden_file {position: absolute; opacity: 0; z-index: -1; left:-99999px; }

.codex_editor button{
    border: 0;
    outline: none;
    background: transparent;
}
.codex_editor [contenteditable]{
    outline: none;
}

.codex_editor .node{
    position: relative;
}

.codex_editor .add_buttons{
    position: relative;
    color: #3b4352;
}
    .codex_editor .add_buttons button:hover,
    .codex_editor .add_buttons .focused{
        color: #3770ef;
    }
    .codex_editor .add_buttons button{
        transition: all 150ms ease-in;
        transform: translate3d(-50px, 0 , 0);
        opacity: 0;
        /*display: none;*/
    }
    .codex_editor .buttons_toggled{
        background: #fff;
    }
    .codex_editor .buttons_toggled button{
        opacity: 1;
        transform: translate3d(0,0,0);
    }


.codex_editor .toggler{
    position: absolute;
    left: -42px;
    display: inline-block;
    font-size: 23px;
    color: #387ff5;
    transition: transform 100ms ease-in;
}
    .codex_editor .buttons_toggled .toggler{
        transform: rotate(45deg);
    }

/** Typography styles */
.codex_editor p{
    margin: 30px 0;
    font-size: 17px;
}


/** Article Create or Edit */
.article_form__inputs {
    max-width: 700px;
    margin: 0 auto;
}


/**
  * Article styles with editor plugins
  */

.article_content [contenteditable="true"] {
    outline: none;
}

/** Paragraph styles */
.article_content p,
.article_content h1,
.article_content h2,
.article_content h3,
.article_content h4,
.article_content h5,
.article_content h6,
.article_content ul,
.article_content ol,
.article_content code,
.article_content blockquote,
.article_content img {
    max-width: 700px;
}


.article_content p,
.article_content code {
    margin: 1.3em auto;
}

.article_content ul,
.article_content ol {
    margin: 1em auto;
}

.article_content h1,
.article_content h2,
.article_content h3,
.article_content h4,
.article_content h5,
.article_content h6 {
    margin: 2em auto 1.2em;
}

.article_content img {
    display: block;
    margin: 1.5em auto;
}

.article_content blockquote {
    padding: 1.7em 40px;
    margin: 2em auto !important;
}

/** Image styles */
.ce-plugin-image__uploaded--centered {
    margin: 0 auto !important;
    display: block;
}

.ce-plugin-image__uploaded--stretched {
    margin: 0;
    max-width: 100% !important;
}

    .article_content .ce-plugin-image__caption {
        margin: 1em auto;
        text-align: center;
        color: #898a8c;
    }

/** Quote styles */
.quoteStyle-simple--text {
    padding: 1.2em 2.1em;
    margin: 2.5em 2em;
    background: #FBFBFB;
}

    .quoteStyle-withCaption--blockquote {
        margin: 0 1em;
        padding: 1.5em 2.0em;
    }

    .quoteStyle-withCaption--author {
        text-align: right;
        font-size: 1.16em;
        font-weight: bold;
        color: #000;
        line-height: 1.5em;
    }

    .quoteStyle-withPhoto--wrapper {
        margin: 0;
        padding: 1.5em 3.6em;
    }

    .quoteStyle-withPhoto--photo {
        width: 70px;
        height: 70px;
        overflow: hidden;
        text-align: center;
        line-height: 70px;
        border-radius: 50%;
        float: left;
        margin-right: 25px;
        border: 2px dashed #D7E2EE;
    }
    .authorsPhoto {
        height: 110%;
        vertical-align: top;
        margin: 0 !important;
    }

    .authorsPhoto-wrapper {
        border: 0;
    }

    .quoteStyle-withPhoto--author {
        font-size: 1.36em;
        font-weight: bold;
        color: #000;
        outline: none;
        overflow: hidden;
        margin-bottom: 8px;
    }
    .quoteStyle-withPhoto--job {
        font-size: 1.04em;
        color: #818BA1;
        outline: none;
        overflow: hidden;
    }
    .quoteStyle-withPhoto--quote {
        margin-top: 33px;
        line-height: 1.82em;
        outline: none;
        overflow: hidden;
    }

/** Link tool */
.ce-link {
    max-width: 700px;
    margin: 20px auto;
    padding: 0 !important;
}

    .clearfix:after {
        visibility: hidden;
        display: block;
        font-size: 0;
        content: " ";
        clear: both;
        height: 0;
    }

    .ceditor-tool-link-input {
        outline: none;
        border: 0;
        width: 100%;
        background: transparent;
        font-size: 1em;
        padding: 8px 25px;
        transition: background 200ms;
        border-left: 3px solid #65d8b3;
    }

    .tool-link-panel {
        position: relative;
        margin: 5px 0;
        background: #f8f7ef;
        border: 1px solid transparent;
        padding: 25px 30px;
    }

    .tool-link-image {
        float:right;
        width: 75px;
        border-radius: 3px;
    }

    .tool-link-title {
        display: block;
        width: 340px;
        margin-bottom: 4px;
        line-height: 1.2em;
        font-size: 20px;
        font-weight: 700;
        color: #000;
    }

    .tool-link-description {
        display: block;
        margin-top: 10px;
        font-size: 14px;
        color: #000;
    }

    .tool-link-link {
        width: 360px;
        font-size: 10px;
        margin-bottom: 4px;
        letter-spacing: 1px;
        overflow: hidden;
        text-transform: uppercase;
        text-decoration: none;
        color: rgba(165,156,86,.8);
    }

    .tool-link-error {
        background: rgb(255, 241, 241);
        color: #bf4747;
    }
    .tool-link-error .ceditor-tool-link-input {
        border-left-color: #d86b6b
    }
