.dnd-avatar,
.dnd-avatar td {
    background: #fafafd !important;
}

.draggable {
    cursor: move;
}

.feed {
    background: #ccc;
}

.feed-item {
    background: #fff;
    border: 1px #ccc solid;
}