@font-face {
    font-family:"PT Sans"; 
    src: url(../fonts/PT_Sans/Sans.ttf); 
   }
 @font-face {
      font-family: 'fontello';
      src: url('../fonts/fontello/fontello.eot?69390776');
      src: url('../fonts/fontello/fontello.eot?69390776#iefix') format('embedded-opentype'),
           url('../fonts/fontello/fontello.woff?69390776') format('woff'),
           url('../fonts/fontello/fontello.ttf?69390776') format('truetype'),
           url('../fonts/fontello/fontello.svg?69390776#fontello') format('svg');
      font-weight: normal;
      font-style: normal;
   }
body{
	text-align: center; 
    background: #fff; 
    margin-top: 30px;
		}
#block{
	width: 1000px; 
    height: 100%; 
    margin:0 auto; 
	}

.site_header {
    border-bottom: 1px solid #eceff6;
    font-size: 0;
  }

 .center_side {
    max-width: 1000px;
    
  }

.site_menu {
    margin: 0 auto;
    box-sizing: border-box;
    text-align: left;
    width: 800px; 


}

.site_header a {
  font-family:"PT Sans"; 
    position: relative;
    display: inline-block;
    padding: 18px;
    color: #6091c8;
    text-decoration: none;
    font-size: 15px;

 }


.site_header a:hover::before, .site_header .current::before {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 3px;
    background: #dde2e9;

   }

  h3{
  font-family:"PT Sans"; 
  font-size:17px;
  text-align:left; 
  margin-top:25px;
  letter-spacing: 0.005em;
  padding-bottom:5px;
  font-weight: 600;
  padding-top:25px;
  
}
  h3:hover{
    
    cursor: pointer;
  }

  h1{
  font-family:"PT Sans"; 
  text-align:left; 
  line-height: 2;
  padding-top:40px;
  padding-bottom:20px;
  font-weight: bold;
  font-size:40px;
  letter-spacing: -0.01em;
  
  }
  button{
  background: #5c95cf;
  color: #fff;
  height:30px;
  border-radius: 15px;
  border:none;
  width:90px;
  margin-bottom:10px;
  float:right;

  }
  button:hover{
    cursor: pointer;
  }

  h4{
  font-family:"PT Sans"; 
  font-size:13px;
  text-align:left; 
  color: #6091c8;
  margin-top:0px;
  letter-spacing: 0.005em;
  padding-bottom:0px;
  font-weight: bold;
  
   }

  img{
    width:250px;
    text-align:left;
    vertical-align: top;
  }
  i:hover{
    border-bottom: 1px  dashed #6091c8;

  }
  i{
    font-style: normal;
  }

.article{
  background: lightgray;
  margin:80px;
}

.row_1{
  width:10%;

}
.row_2{
  width:90%;
  font-family:"PT Sans"; 
  font-size:15px;
  font-weight: 400;
  line-height: 1.8;
  letter-spacing: -0.005em;
  text-align: left;
  padding-left: 15px;
}


table{
  margin: auto;

}


.header{
  border-top:1px solid #eceff6;
}
td{
  vertical-align: top;
}