*{-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
audio, canvas, iframe, img, svg, video {vertical-align: middle;}
textarea {resize: vertical;}
::-moz-selection { background: #b3d4fc; text-shadow: none;}
::selection { background: #b3d4fc; text-shadow: none;}
.clearfix:before,
.clearfix:after { content: " "; display: table }
.clearfix:after { clear: both; }
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}
.fl_l{float: left;}
.fl_r{float: right;}
.constrain{overflow: hidden;}
.pointer{cursor: pointer ;}
.hide{display: none;}
.block{display: block;  }
.p_rel{position: relative;}
a{color: #6091c8;}
a:hover{color: #3A81D2;}
a:hover{text-decoration: underline;}



input[type="text"],
input[type="email"],
input[type="password"],
input[type="search"],
input[type="url"],
textarea{
    padding: 10px;
    border-radius: 2px;
    border: 0;
    font-size: 15px;
    font-family: inherit;
    outline: none;
    background: #f4f5f8;
}
    input[type="text"]:focus,
    input[type="email"]:focus,
    input[type="password"]:focus,
    input[type="search"]:focus,
    input[type="url"]:focus,
    textarea:focus{
        background: #eef5fd;
    }
input[type="text"], input[type="url"], input[type="email"], input[type="password"], input[type="search"], textarea, .fake_textarea, .input_with_template{
    width: 100%;
}

/*input::-moz-placeholder, textarea::-moz-placeholder { color: #A3B1BA !important; transition: all 200ms ease; background: transparent;}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder { color: #A3B1BA !important; transition: all 200ms ease;}

input:focus::-moz-placeholder, textarea:focus::-moz-placeholder {opacity: .1 !important; transition: all 200ms ease}
input:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder { opacity: .1 !important; }
*/


.button,
input[type="submit"]{
    -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;
    border-radius: 30px;
    border: 0;
    display: inline-block;
    padding: 12px 24px;
    color: #3F4B63;
    vertical-align: top;
    cursor: pointer;
    text-decoration: none;
    font-family: inherit;
    background: #ECF3F9;
    line-height: 1em;
}
.button:hover,
input[type="submit"]:hover{
    background: #4592DA;
    color: #fff;
    text-decoration: none;
}
.button.master,
input[type="submit"]{
    background: #5c95cf;
    color: #fff;
}
    .button.master:hover,
    input[type="submit"]:hover{
        background: #3c7ab9;
        color: #fff;
    }
.button.disabled,
input[disabled]
{
    background: #EAECF1;
    color: #A9AFC1;
}
    .button.disabled:hover,
    input[disabled]:hover
    {
        background: #EAECF1;
        color: #A9AFC1;
    }
.button.with_icon{
    padding: 12px 24px 12px 17px;
}
    .button.with_icon i{margin-right: 8px;}

.vk_button{
    background: #6886ad;
    color: #fff;
}
    .vk_button:hover{
        background: #496c98;
        color: #fff;
    }


.fileinput{position: relative; cursor: pointer; overflow: hidden;}
.fileinput input{
    position: absolute;
    right: -5px; top: -5px;
    opacity: 0.001; font-size: 60px;
    cursor: pointer;
}

.button.loading{
    position: relative;
    overflow: hidden;
    background: #F5F5F5;
    color: #434C61;
}
.button.loading:before{
  content: ''; width: 100%; height: 100%; display: block;
  background: url('../img/load_pattern.gif'); opacity: .1;
  position: absolute; left: 0; top: 0;
}


.scroll_button {
    position: fixed;
    bottom: 30px;
    left: 30px;
    padding: 32px 27px;
    border-radius: 2px;
    background: #eef2f5;
    color: #bec4d2;
    font-size: 18px;
    text-align: center;
    cursor: pointer;
    opacity: 0;
    transition: opacity 150ms ease-in;
}

    .scroll_button:hover {
        background-color: #e9edf3;
        color: #b8beca;
    }

    .scroll_button:before {
        font-family: "codex_ic";
        content: '\e80f';
    }

    .scroll_button.show {
        opacity: 1;
    }

.technic{
    display: inline-block;
    padding: 0 4px;
    background-color: #F4F7FB;
    font-family: 'monaco', 'consolas', 'courier';
    font-size: 13px;
    color: #456994;
}




@font-face {
  font-family: 'codex_ic';
  src: url('../fonts/codex_icons/codex_ic.eot?87250635');
  src: url('../fonts/codex_icons/codex_ic.eot?87250635#iefix') format('embedded-opentype'),
       url('../fonts/codex_icons/codex_ic.woff?87250635') format('woff'),
       url('../fonts/codex_icons/codex_ic.ttf?87250635') format('truetype'),
       url('../fonts/codex_icons/codex_ic.svg?87250635#codex_ic') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'codex';
    src: url('../font/codex.svg?30090408#codex') format('svg');
  }
}
*/

 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "codex_ic";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

.icon-vkontakte:before { content: '\e800'; } /* '' */
.icon-twitter:before { content: '\e801'; } /* '' */
.icon-facebook-squared:before { content: '\e802'; } /* '' */
.icon-github-circled:before { content: '\e803'; } /* '' */
.icon-heart:before { content: '\e804'; } /* '' */
.icon-star:before { content: '\e805'; } /* '' */
.icon-star-empty:before { content: '\e806'; } /* '' */
.icon-search:before { content: '\e807'; } /* '' */
.icon-rss:before { content: '\e808'; } /* '' */
.icon-link:before { content: '\e809'; } /* '' */
.icon-chat:before { content: '\e80a'; } /* '' */
.icon-pencil:before { content: '\e80b'; } /* '' */
.icon-pin:before { content: '\e80c'; } /* '' */
.icon-attach:before { content: '\e80d'; } /* '' */
.icon-tags:before { content: '\e80e'; } /* '' */
.icon-up-big:before { content: '\e80f'; } /* '' */
.icon-down-big:before { content: '\e810'; } /* '' */
.icon-eye:before { content: '\e811'; } /* '' */
.icon-instagram:before { content: '\e812'; } /* '' */
.icon-briefcase:before { content: '\e813'; } /* '' */
.icon-users:before { content: '\e814'; } /* '' */
.icon-user:before { content: '\e815'; } /* '' */
.icon-user-add:before { content: '\e816'; } /* '' */
.icon-forward:before { content: '\e817'; } /* '' */
.icon-cog-1:before { content: '\e818'; } /* '' */
.icon-ok:before { content: '\e819'; } /* '' */
.icon-cancel:before { content: '\e81a'; } /* '' */
.icon-spin4:before { content: '\e81b'; } /* '' */
.icon-picture:before { content: '\e81c'; } /* '' */

.error_alert{
    background: #FDF4F4;
    color: #7E2226;
    font-size: 15px;
    padding: 20px;
    border-radius: 2px;
    margin-top: 40px;
}
.success_alert{
    background: #F2F5FB;
    color: #6F809A;
    font-size: 16px;
    padding: 100px 200px;
    text-align: center;
    border-radius: 2px;
    margin-top: 40px;
}
.success_alert.compact{
    padding: 30px;
}







html {
    font-size: 1em;
    line-height: 1.4em;
    font-family: 'PT Sans', sans-serif, Arial;
}
.center_side{
    max-width: 1000px;
    margin: 0 auto;
}




/* Side header styles*/


.site_header{
    position: relative;
    border-bottom: 1px solid #eceff6;
}
    .site_menu{
        margin: 0 12px;
        font-size: 0;
    }
        .site_menu a,
        .site_header .profile{
            text-decoration: none;
            font-size: 16px;
            padding: 18px;
            position: relative;
            display: inline-block;
        }
            .site_header .profile{
                padding-right: 0;
                margin-right: 30px;
            }
            .site_menu .current{
                font-weight: bold;
            }
    .site_header .icon_link{
        display: inline-block;
        font-size: 22px;
        margin-top: 17px;
        vertical-align: middle;
    }
    .site_header .login{
        text-decoration: none;
        margin-right: 30px;
    }
        .site_header .login .text{
            font-size: 15px;
            vertical-align: middle;
        }
    .site_header .social_buttons{
        position: absolute;
        left: 50%;
        width: 150px;
        margin-left: -75px;
        text-align: center;
    }

    .site_header .ava{
        background: #e9ecf5;
        border-radius: 15px;
        overflow: hidden;
    }
    .site_header .ava,
    .site_header .ava > img{
        display: inline-block;
        width: 22px;
        height: 22px;
        vertical-align: bottom;
    }



.site_footer{
    border-top: 1px solid #eceff6;
    padding: 30px 0;
    margin-top: 30px;
}
    .site_footer section{
        max-width: 400px;
        margin-left: 30px;
    }
        .site_footer .fl_r{
            margin-right: 30px;
        }
        .site_footer .codex_desc{
            margin-right: 10px;
        }
        .site_footer section ul{
            list-style: none;
            padding-left: 0;
            font-size: 14px;
            line-height: 1.8em;
        }
        .site_footer section a{
            text-decoration: none;
        }
    .site_footer h5{
        margin: 0 0 10px;
        font-size: 15px;
    }
    .site_footer p{
        font-size: 14px;
        margin: 0;
    }
    .site_footer .desclimer{
        color: #aaa;
    }

.page_header{
    padding: 60px 30px;
}
.page_header h1{
    font-size: 26px;
    line-height: 1.2em;
}
.page_header .description{
    max-width: 500px;
}


.blog .title{
    margin: 0 0 5px;
    font-size: 20px;
    line-height: 1.5em;
}
    .blog .title a{
        text-decoration: none;
        color: inherit;
    }
    .blog .counters .item{
        display: inline-block;
        margin-right: 20px;
        color: #a8adb6;
        font-size: 14px;
    }
.blog .info{
    width: 30%;
    margin-left: 100px;
}
    .blog .author .ava{
        border-radius: 20px;
        overflow: hidden;
        background: #e9ecf5;
        margin-right: 20px;
    }
        .blog .author .ava,
        .blog .author .ava img{
            width: 40px;
            height: 40px;
            display: block;
        }
    .blog .author .name{
        font-weight: bold;
        font-size: 15px;
        line-height: 1em;
    }
    .blog .author .nick{
        display: inline-block;
        margin-top: 3px;
        text-decoration: none;
    }



.profile_page{
    padding: 150px 0 110px;
    text-align: center;
}
.ava_wrapper {
    position: relative;
    display: inline-block;
    width: 100px;
    height: 100px;
}
    .ava_wrapper .settings{
        position: absolute;
        bottom: -6px;
        right: 0;
        background: #fff;
        color: #6091c8;
        border-radius: 50%;
        padding: 4px;
        font-size: 20px;
        transition: transform 150ms ease;
    }
        .ava_wrapper .settings .gear{
            position: relative;
            display: block;
            width: 21px;
            height: 21px;
            background: url('../img/icon_gear.png') no-repeat;
        }
        .ava_wrapper .settings:hover{
            transform: rotate(45deg);
        }

    .profile_page .ava,
    .profile_settings .ava{
        display: inline-block;
        width: 100px;
        height: 100px;

        background: #e9ecf5;
        margin-bottom: 20px;
        border-radius: 50%;
        overflow: hidden;

        /** Style for text placeholder from img-alt */
        font-size: 100px;
        line-height: 1em;
        letter-spacing: 50px;
        color: #CAD2E0;
        font-weight: bold;
    }
        .profile_page .ava > img,
        .profile_settings .ava > img
        {
            vertical-align: top;
            margin: -1px 0 0 -2px;
            width: 103px;
            height: 103px;
        }
    .profile_page .uname{
        font-size: 22px;
    }
    .profile_page .bio{
        font-size: 17px;
        line-height: 1.5em;
    }

    .profile_page .nickname{
        display: inline-block;
        font-size: 22px;
        margin-bottom: 20px;
    }
        .profile_page .nickname i{
            vertical-align: middle;
        }
        .profile_page .no_insta{
            font-size: 18px;
        }
    .profile_page .social_link, .profile_page .no_insta{
        display: inline-block;
        padding: 2px 3px;
        margin: 15px 18px;
        border-radius: 15px;
        color: #9C9DA2;
        text-decoration: none;
    }
        .profile_page .social_link:hover{
            color: #4C5063;
        }

    .profile_page .logout{
        display: inline-block;
        margin-top: 30px;
        font-size: 18px;
        text-decoration: none;
        color: #b9bfca;
        border-bottom: 1px solid #dce1e8;
    }
        .profile_page .logout:hover{
            color: #8d9aaf;
            border-bottom-color: #c4ceda;
        }




.no_data{
    text-align: center;
    padding: 150px 0;
}




.left_col{
    width: 47%;
    margin-right: 100px;
    padding-left: 30px;
}
    .left_col article{
        padding: 35px 0;
    }
.right_col{
    padding-left: 60%;
    padding-right: 30px;
}


.blank .user_panel{
    padding: 20px 0;
}
    .user_panel .ava{
        display: inline-block;
        border-radius: 40px;
        overflow: hidden;
        vertical-align: middle;
        margin-right: 10px;
    }
        .user_panel .ava, .user_panel .ava > img {
            width: 40px;
            height: 40px;
        }
    .user_panel .name{
        display: inline-block;
        color: #667ca6;
    }
    .user_panel .logout{
        color: #bac1cf;
        display: inline-block;
        margin-top: 8px;
    }

.blank label{
    display: block;
    margin-bottom: 7px;
}
.blank textarea{
    margin-bottom: 20px;
    resize: none;
}

.blank .additional_fields input{
    margin-bottom: 20px;
}

.profile_settings{
    padding: 40px 30px;
}
    .profile_settings .fl_l{
        text-align: center;
    }
    .profile_settings .ava{
        display: inline-block;
        width: 120px;
        height: 120px;
    }
    .profile_settings .ava > img{
        width: 125px;
        height: 125px;
    }

    .profile_settings input[type="submit"]{
        margin: 30px 0 0 40px;
    }

.user_settings_form{
    margin-left: 40px;
    padding-left: 35px;
    border-left: 3px solid #8B9AAF;
}
    .user_settings_form input, .user_settings_form textarea{
        margin-bottom: 20px;
        max-width: 280px;
    }
    .user_settings_form input:last-of-type{
        margin-bottom: 0;
    }

.breadcrumb{
    margin-bottom: 50px;
    padding-left: 20px;
    border-left: 3px solid #D6D6D6;
    color: #A2A2A2;
}
.breadcrumb h1{
    display: inline-block;
    margin: 0 5px 0 5px;
    font-size: inherit;
    font-weight: normal;
}
.breadcrumb a{
    display: inline-block;
    margin-right: 5px;
    color: inherit;
}


.logo_medium{
    display: inline-block;
    background: url('../img/logo_medium.png') no-repeat;
    width: 233px;
    height: 231px;
}

.page_pic{
    text-align: center;
}
.page_pic .logo_medium{
    margin: 55px 0;
    margin-left: -25px;
}

.blank_auth{
    margin-bottom: 30px;
}
    .blank_auth .vk_button{
        vertical-align: middle;
        margin-right: 17px;
    }
    .blank_auth .additional{
        display: inline-block;
        color: #838ea1;
    }

.mobile_logo_small{
    display: block;
    background: url('../img/logo_small.png') no-repeat;
    width: 123px;
    height: 122px;
    margin: 40px auto 20px;
    display: none;
}

.p_table{
    width: 100%;
    margin: 30px;
}
.p_table td{
    padding: 15px;
    border-bottom: 1px solid #EFF1F5;
    word-wrap: break-word;
    max-width: 300px;
}
.list_user_ava{
    position: relative;
    display: inline-block;
    border: 1px solid #e8ebf4;
    border-radius: 20px;
    overflow: hidden;
    font-size: 20px;
    text-align: center;
    vertical-align: middle;
}
    .list_user_ava,
    .list_user_ava > img{
        width: 40px;
        height: 40px;
    }
    .list_user_ava .numb{
        display: inline-block;
        padding-top: 7px;
        color: #99abbb;
        font-weight: bold;
    }
.list_user_name{
    font-weight: bold;
}
.list_user_vk_name i{
    margin-right: 5px;
}

.p_table .checker{
    position: absolute;
    right: -7px;
    bottom: 0;
    width: 22px;
    height: 22px;
    background: #6579AD;
    color: #fff;
    border-radius: 20px;
    font-size: 14px;
    cursor: pointer;
    display: none;
}
    .p_table td:hover .checker{
        display: block;
    }
    .p_table .checker.checked{
        display: block;
        background: #26AF89;
    }
    .p_table .checker i{
        margin: 1px;
        line-height: 1.7em;
    }
.article{
    margin: 0 30px;
    padding: 35px 0;
}
    .article .first_header{
        margin-top: 0;
    }
    .article .left_col{
        padding-left: 0;
    }

.article_form_buttons {
    padding-left: 30px;
}

.edit_article_form label {
    margin: 30px 0 24px 0;
    display: block;
}
.edit_article_form input[type="text"] {
    margin-bottom: 25px;
}
.edit_article_form p {
    margin: 30px 0;
    display: block;
}

.page_block{
    margin-top: 50px;
}
.block_link{
    display: block;
    max-width: 350px;
    color: inherit;
    text-decoration: none;
}


.additional_tasks{
    margin: 0;
    padding: 0;
}
    .additional_tasks li{
        list-style-type: none;
        padding: 20px 0;
        border-bottom: 1px solid #e4eaf5;
    }
        .additional_tasks li:before{
            content: '';
            display: inline-block;
            width: 10px;
            height: 10px;
            border-radius: 5px;
            background: #DFE7F5;
            margin-right: 15px;
        }
            .additional_tasks .back:before{background: #6699df}
            .additional_tasks .front:before{background: #e87474}
            .additional_tasks .ui:before{background: #9bf1b3}

    .additional_tasks.legend li{
        display: inline-block;
        border-bottom: 0;
        margin-right: 50px;
        font-size: 14px;
        font-weight: bold;
    }



.clarity_page{
    padding: 100px 0 70px;
    text-align: center;
}
    .clarity_page .cdx_logo{
        display: inline-block;
        background: url('../img/logo224.png') no-repeat;
        width: 224px;
        height: 224px;
        margin: 0 auto 50px;
    }
    .clarity_page p{
        max-width: 500px;
        margin: 15px auto;
    }

.double_sections{
    padding: 30px;
}
    .double_sections .constrain{
        border-left: 2px solid #e8ecf1;
    }

.cdx_news{
    border-left: 3px solid #e8ecf1;
    padding: 15px 35px;
}
    .cdx_news h3{
        margin: 0 0 20px;
    }
    .cdx_news .item{
        margin-top: 15px;
    }
    .cdx_news time{
        display: block;
        font-size: 15px;
        font-weight: bold;
    }



.landing_page{
    padding: 100px;
    text-align: center;
    color: #1c1e21;
}
    .landing_page h1{
        font-size: 58px;
        margin-bottom: 70px;
        line-height: 1.4em;
    }
    .landing_page .slogan{
        font-size: 18px;
        line-height: 1.6em;
    }
    .landing_page .get_button{
        display: inline-block;
        margin-top: 80px;
        font-size: 30px;
    }







.page_menu{
    margin: 30px;
    padding: 0;
    list-style: none;
    text-align: center;
}
    .page_menu li{
        position: relative;
        display: inline-block;
        font-size: 17px;
    }
        .page_menu li:after{
            content: '・';
            display: inline-block;
            padding: 0 2px;
            vertical-align: middle;
            color: #C1C8DA;
            font-size: 18px;
        }
        .page_menu li:last-child::after{
            display: none;
        }



/** Article page styles */

.big_header{
    font-size: 54px;
    line-height: 1.2em;
    text-align: center;
    padding: 100px 140px 40px;
}
.article_info{
    text-align: center;
    margin-bottom: 70px;
}
    .article_info .list_user_ava{
        margin: 0 20px;
        border: 0;
        display: inline-block;
    }
    .article_info .ava_holder{
        display: inline-block;
        position: relative;
    }
    .article_info time,
    .article_info .list_user_name{
        position: absolute;
        top: 7px;
    }
        .article_info time{
            color: #9095a2;
            text-align: right;
            left: -250px;
            width: 250px;
        }
        .article_info .list_user_name{
            text-align: left;
            right: -250px;
            width: 250px;
        }

.article_content{
    font-size: 17px;
    line-height: 1.5em;
    margin: 0 70px;
    word-wrap: break-word;
}
    .article_content h2{
        margin: 50px 0 30px;
    }
    .article_content img{
        max-width: 100%;
        margin: 30px 0;
    }
    .article_content a{
        color: #2574CE;
        text-decoration: none;
        border-bottom: 1px solid #B2C9F3;
    }
        .article_content a:hover{
            color: #2C70F5;
            border-bottom-color: #6E8FEC;
        }
    .article_content code{
        display: block;
        padding: 10px 15px;
        background-color: #F9FAFB;
        font-family: 'monospace', 'monaco', 'consolas', 'courier';
        font-size: 13px;
        color: #3D597B;
    }
    .article_content li{
        margin: 0.2em 0;
    }
    .article_content blockquote{
        margin: 30px 0;
        padding: 45px 60px;
        border-top: 2px solid #EDEFF1;
        border-bottom: 2px solid #EDEFF1;
        font-size: 1.2em;
        line-height: 1.7em;
    }

.profile_join_requests{
    color: #9A9A9A;
    font-style: italic;
}




/*** New Year landing styles *******************/

.ny_land{
    padding: 40px;
    background: #b00303 url('../img/new_year_pattern.png');
    color: #fff;
    text-align: center;
}
    .ny_land h1{
        font-size: 35px;
        margin: 50px 0;
    }
    .ny_land p{
        max-width: 600px;
        margin: 30px auto;
        font-size: 17px;
        line-height: 1.5em;
    }
        .ny_land p a{
            color: #fff;
            text-decoration: none;
            border-bottom: 1px solid #FFC7C7;
        }
    .ny_land .text_link{
        display: inline-block;
        margin: 10px 0;
        padding: 10px 20px;
        text-decoration: none;
        border: 2px solid #fff;
        border-radius: 25px;
        color: #fff;
    }
    .ny_land .show_blank{
        display: inline-block;
        font-weight: bold;
        font-size: 23px;
        letter-spacing: 1px;
        border-bottom: 1px solid #FFC7C7;
    }
        .ny_land .show_blank:hover{
            color: #FFB8B8;
            border-bottom-color: #FF6161;
        }
    .ny_land .form{
        background: #fff;
        color: #111;
        max-width: 740px;
        margin: 40px auto;
        border-radius: 2px;
        padding: 50px 90px;
        transition: all 200ms ease;
    }
        .ny_land .form.pulled{
            transform: translate3d(0, 50px, 0);
            opacity: 0;
        }
        .ny_land .form .number{
            display: inline-block;
            border: 2px solid #fb5b5b;
            padding: 3px 8px 2px 9px;
            border-radius: 30px;
            color: #d54e4e;
            font-weight: bold;
        }
        .ny_land .form p{
            font-size: 16px;
            margin: 15px 0 40px;
            text-align: left;
        }

    .ny_land .auth{
        display: block;
        padding: 35px;
        border: 2px solid #ccc;
        border-radius: 2px;
        color: #7e7e7e;
        text-decoration: none;
    }
        .ny_land .auth:hover{
            border-color: #e08080;
            color: #cb6161;
        }
        .ny_land .auth i{
            display: inline-block;
            font-size: 32px;
            margin-bottom: 20px;
        }
        .ny_land .auth .offer{
            font-weight: bold;
            font-size: 16px;
        }
    .ny_land form{
        text-align: left;
    }
    .ny_land label{
        display: block;
        text-align: left;
        font-weight: bold;
        margin-bottom: 10px;
    }
    .ny_land textarea{
        font-size: 17px;
        line-height: 1.5em;
        margin-bottom: 12px;
    }
    .ny_land .submit{
        padding: 15px 30px;
        background: #cd3b3b;
        font-size: 16px;
        line-height: 1em;
    }
        .ny_land .submit:hover{
            background: #190303;
        }
    .ny_land .error{
        color: #CA3B3B;
        font-size: 26px;
        line-height: 1.3em;
        font-weight: bold;
        margin-bottom: 50px;

    }

.ny_request_saved{
    position: absolute;
    left: 30px;
    top: 30px;
    padding: 15px 25px;
    border: 2px solid #e08080;
    color: #cb6161;
    font-size: 14px;

}

/*** end of New Year landing styles *******************/


/*** Contests ***/
.contest{
    padding: 30px 0;
}
.contest .disclaimer, .contest_alert a{
    margin: 40px;
    text-align: center;
    color: #988e8e;
    font-variant: small-caps;
    font-size: 18px;
    letter-spacing: 2px;
}

.contest .line, .contest_alert .line{
    position: relative;
    margin: 0 70px;
    height: 1px;
    background: #ebe8e8;
}
    .contest .line:before, .contest_alert .line:before{
        content: '';
        position: absolute;
        left: 50%;
        top: -19px;
        width: 40px;
        height: 40px;
        margin-left: -20px;
        background: #fff url('../img/contest_icon_goblet.png') no-repeat 50% 50%;
    }
    .contest_alert a{
        margin-top: -20px;
        text-decoration: none;
        display: block;
    }
    .contest_alert .line{
        margin-bottom: 70px;
    }

.contest img{
    max-width: 100%;
}

.contest .result{
    padding-top: 80px;
}
    .contest .result p,
    .contest .result h2{
        margin: 25px 70px;
    }
        .contest .result h2{
            margin-bottom: 2em;
        }


.contest .big_header{
    padding-top: 0;
}
.contest_info{
    width: 80%;
    margin: 0 auto 50px;
    color: #9a9ca0;
}
    .contest_info td{
        width: 33%;
        text-align: center;
    }
    .contest_info td:nth-of-type(2){
        width: 34%;
        border-left: 1px solid #caced4;
        border-right: 1px solid #caced4;
    }
    .contest_info time{
        display: inline-block;
        text-align: left;
        vertical-align: middle;
        margin-left: 10px;
        font-weight: bold;
        line-height: 1.1em;
    }
.contest .winner{
    max-width: 300px;
    margin: 80px auto;
    text-align: center;
}
    .contest .title{
        color: #aeb5bb;
        letter-spacing: 1px;
        font-size: 13px;
    }
    .contest .name{
        margin: 10px 0 7px;
        color: #495d6f;
        font-size: 18px;
        font-weight: bold;
    }
    .contest .nick{
        text-decoration: none;
    }
        .contest .nick::before,
        .contest .nick::after{
            content: '';
            display: inline-block;
            margin: 0 4px;
            width: 55px;
            height: 26px;
            background: url('../img/branches.png') no-repeat;
            vertical-align: top;
        }
            .contest .nick::after{
                background-position: -55px 0;
            }
    .contest .toggler{
        display: inline-block;
        margin-top: 40px;
        color: #aeb5bb;
        text-decoration: none;
        border-bottom: 1px solid #E9ECF1;
    }
        .contest .toggler i{
            font-size: 12px;
        }

/*** contest list ***/
.contests_list {
    position: relative;
    margin: 0 30px;
    border-top: 1px solid #d2dde5;
}
    .contests_list::before {
        display: block;
        content: attr(data-heading);
        position: absolute;
        left: 97px;
        top: -14px;
        padding: 3px 15px;
        background: #fff;
        color: #b0c4d3;
        font-variant: small-caps;
        font-size: 18px;
        letter-spacing: 1px;
    }

    .contests_list .item {
        padding: 50px 0;
    }
    .contests_list .date {
        float: left;
        width: 60px;
        color: #a8adb6;
        text-align: center;
    }
        .contests_list time:last-child:before{
            content: '—';
            display: block;
            line-height: .8em
        }

    .contests_list .icon {
        width: 79px;
        height: 52px;
        margin: 0 30px;
    }
        .contests_list .icon img{
            width: 100%;
            image-rendering: -moz-crisp-edges;
            image-rendering: -webkit-optimize-contrast;
        }
    .contests_list .title {
        display: inline-block;
        margin: 0 0 8px;
        font-size: 18px;
        color: inherit;
        text-decoration: none;
        font-weight: bold;
    }
        .contests_list .title:hover {
            color: #4888DC;
        }


/*** end of Contests ***/



.follow_us{
    width: 33%;
    margin-top: 27px;
    margin-left: 50px;
    color: #7183a1;
}
    .follow_us a{
        display: inline-block;
        margin-top: 15px;
        white-space: nowrap;
    }
        .follow_us a i{
            vertical-align: middle;
            margin-right: 14px;
        }
        .follow_us a span{
            display: inline-block;
            vertical-align: middle;
            text-decoration: underline;
        }

.icon_telegram{
    display: inline-block;
    width: 28px;
    height: 28px;
    background: url('../img/icon_telegram.png') no-repeat;
}

<<<<<<< HEAD
/*Social share buttons*/

.article_share {
    padding: 27px 35px;
    background-color: #F1F5F8; 
}

    .article_share .text {        
        margin-top: 7px;
        font-size: 16px;
        color: #636473;
        overflow: hidden;
    }

    .social_wrapper {
        float:right;
    }

    .article_share .vk {
        margin-right: 23px;
        padding: 9px 16px 11px 13px;
        line-height: 1em;
        display: inline-block;    
        border-radius: 18px;
        margin-left: 20px;        
        font-size: 16px;
        color: #fff;
        background-color: #6380b4;
        cursor: pointer;
    }

        .article_share .vk:hover {
            background-color: #617daf;
            color: #f6f8f9;
        }

        .article_share .icon-vkontakte {
            font-size: 19px;
        }

    .article_share .icon-twitter {
        font-size: 22px;
    }

    .article_share .icon-facebook-squared {
        font-size: 20px;        
    }        

    .article_share .social_icon {
        vertical-align: middle;
        cursor: pointer;
        line-height: 1em;
        margin-right: 10px;
        color: #a2adc0;
    }

        .article_share .social_icon:hover {
            color: #9ba5b9;
        }

        .social_icon:last-child{
            margin-right: 0;
        }

        .article_share .social_icon {            
            text-decoration: none;
            border: 0;
        }
=======
>>>>>>> refs/remotes/origin/master

.random_articles {
    padding: 35px 0;
    margin: 0 70px;
    max-width: 600px;
}
    .random_articles a{
        margin-bottom: 12px;
        display: inline-block;
    }
    .random_articles h3{
        margin-bottom: 20px;
        font-size: 1.5em;
    }
    .random_articles li{
        list-style: none;
    }




@-webkit-keyframes wobble {
    0% { -webkit-transform: translateX(0%); }
    15% { -webkit-transform: translateX(-1%) rotate(-5deg); }
    30% { -webkit-transform: translateX(3%) rotate(3deg); }
    45% { -webkit-transform: translateX(-1%) rotate(-3deg); }
    60% { -webkit-transform: translateX(3%) rotate(2deg); }
    75% { -webkit-transform: translateX(-1%) rotate(-1deg); }
    100% { -webkit-transform: translateX(0%); }
}

@-moz-keyframes wobble {
    0% { -moz-transform: translateX(0%); }
    15% { -moz-transform: translateX(-1%) rotate(-5deg); }
    30% { -moz-transform: translateX(3%) rotate(3deg); }
    45% { -moz-transform: translateX(-1%) rotate(-3deg); }
    60% { -moz-transform: translateX(3%) rotate(2deg); }
    75% { -moz-transform: translateX(-1%) rotate(-1deg); }
    100% { -moz-transform: translateX(0%); }
}

@-o-keyframes wobble {
    0% { -o-transform: translateX(0%); }
    15% { -o-transform: translateX(-1%) rotate(-5deg); }
    30% { -o-transform: translateX(3%) rotate(3deg); }
    45% { -o-transform: translateX(-1%) rotate(-3deg); }
    60% { -o-transform: translateX(3%) rotate(2deg); }
    75% { -o-transform: translateX(-1%) rotate(-1deg); }
    100% { -o-transform: translateX(0%); }
}

@keyframes wobble {
    0% { transform: translateX(0%); }
    15% { transform: translateX(-1%) rotate(-5deg); }
    30% { transform: translateX(3%) rotate(3deg); }
    45% { transform: translateX(-1%) rotate(-3deg); }
    60% { transform: translateX(3%) rotate(2deg); }
    75% { transform: translateX(-1%) rotate(-1deg); }
    100% { transform: translateX(0%); }
}

.wobble {
    -webkit-animation-name: wobble; -moz-animation-name: wobble; -o-animation-name: wobble; animation-name: wobble;
    -webkit-animation-duration: 400ms; -moz-animation-duration: 400ms; -o-animation-duration: 400ms; animation-duration: 400ms;
    -webkit-animation-iteration-count: 1; -moz-animation-iteration-count: 1; -o-animation-iteration-count: 1; animation-iteration-count: 1;
}



@-webkit-keyframes bounceIn {
    0% { opacity: 0; -webkit-transform: scale(.3);}
    50% {opacity: 1; -webkit-transform: scale(1.05);}
    70% {-webkit-transform: scale(.9);}
    100% {-webkit-transform: scale(1);}
}

@-moz-keyframes bounceIn {
    0% {opacity: 0;-moz-transform: scale(.3);}
    50% {opacity: 1;-moz-transform: scale(1.05);}
    70% {-moz-transform: scale(.9);}
    100% {-moz-transform: scale(1);}
}
@-o-keyframes bounceIn {
    0% {opacity: 0;-o-transform: scale(.3);}
    50% {opacity: 1;-o-transform: scale(1.05);}
    70% {-o-transform: scale(.9);}
    100% {-o-transform: scale(1);}
}
@keyframes bounceIn {
    0% {opacity: 0;transform: scale(.3);}
    50% {opacity: 1;transform: scale(1.05);}
    70% {transform: scale(.9);}
    100% {transform: scale(1);}
}

.bounceIn {
    -webkit-animation-name: bounceIn; -webkit-animation-duration: 600ms; -webkit-animation-iteration-count: 1;
    -moz-animation-name: bounceIn; -moz-animation-duration: 600ms; -moz-animation-iteration-count: 1;
    -o-animation-name: bounceIn; -o-animation-duration: 600ms; -o-animation-iteration-count: 1;
    animation-name: bounceIn; animation-duration: 600ms; animation-iteration-count: 1;
}

@media all and (max-width: 1000px){

    .left_col{margin-right: 0;}
    .right_col{padding-left: 56%;}

}

@media all and (max-width: 800px){

    .left_col{
        float: none;
        width: auto;
        padding: 0 30px;
    }
    .left_col article{
        padding: 10px 0;
    }
    .right_col{
        padding: 30px;
    }
    .page_pic{
        display: none;
    }
    .blank_auth{
        text-align: center;
    }
        .blank_auth .vk_button{margin-right: 0;}
        .blank_auth .additional{
            display: block;
            margin-top: 15px;
        }
    .mobile_logo_small{
        display: block;
    }
    .success_alert{
        padding: 30px;
    }

    .page_block .right_col{
        padding: 0;
        margin-top: 50px;
    }

    .site_header{
        padding: 0 25px;
    }
    .site_header .icon_link{
        font-size: 14px;
    }
    .site_menu{
        margin: 0;
        white-space: nowrap;
        overflow: auto;
    }
        .site_menu a{
            padding: 18px 0;
            margin-right: 17px;
            font-size: 15px;
        }
        .site_header .social_buttons{
            display: none;
        }
        .site_header .profile,
        .site_header .login{
            margin-right: 0;
        }
        .site_header .profile{
            padding-left: 0;
        }
        .site_header .ava, .site_header .ava > img{
            width: 16px;
            height: 16px;
            vertical-align: middle;
        }
            .site_header .ava > img{
                vertical-align: top;
            }
    .clarity_page{
        padding: 50px 25px;
    }

    .site_footer{
        padding: 25px;
    }
        .site_footer section{
            float: none;
            max-width: none;
            margin: 0 0 20px;
        }
        .site_footer section:last-child{
            margin-bottom: 0;
        }

    .blog .info{
        float: none;
        width: auto;
        margin-left: 0;
        margin-bottom: 15px;
        font-size: 14px;
    }
        .blog .info .constrain{
            line-height: 1em;
        }
        .blog .author .ava{
            margin-right: 10px;
        }
            .blog .author .ava, .blog .author .ava img{
                width: 16px;
                height: 16px;
            }
        .blog .author .name{
            display: inline-block;
            margin-right: 5px;
            font-size: inherit;
        }


    .landing_page{
        padding: 50px 25px;
    }
        .landing_page h1{
            font-size: 40px;
        }

    .big_header{
        padding: 30px 0;
        font-size: 33px;
    }
    .article_info{
        margin-left: 0;
        font-size: 15px;
    }
        .article_info time{
            display: block;
            margin-bottom: 10px;
            text-align: center;
        }
        .article_info .list_user_ava{
            margin: 0 10px 0 0;
            vertical-align: text-bottom;
        }
        .article_info .list_user_ava,
        .article_info .list_user_ava > img{
            width: 20px;
            height: 20px;
        }
        .article_info .list_user_ava > img{
            vertical-align: top;
        }
        .article_info time,
        .article_info .list_user_name{
            position: static;
        }
    .article_content{
        margin: 0;
        font-size: 16px;
    }
    .article_content blockquote{
        font-size: 1.1em;
        line-height: 1.5em;
        padding: 20px;
    }

    .breadcrumb{
        margin-bottom: 30px;
    }

    .profile_settings .ava{

    }
    .profile_settings .button{
        margin-top: -38px;
    }
    .profile_settings .fl_l{
        float: none;
        text-align: center;
    }
    .user_settings_form{
        margin-left: 0;
        border-left: 0;
        padding-left: 0;
        margin-top: 20px;
    }
    .user_settings_form input, .user_settings_form textarea{
        max-width: none;
    }
    .profile_settings input[type="submit"]{
        margin: 30px 0 0;
    }

    .ny_land h1 {
        font-size: 28px;
        line-height: 1.3em;
        margin: 30px 0;
    }
    .ny_land p {
        font-size: 15px;
    }
    .ny_land .form {
        max-width: none;
        margin: 30px -30px;
        padding: 30px;
    }

    .ny_request_saved{
        position: relative;
        left: auto;
        top: auto;
        margin: 20px;
    }
    .contest_info td{
        display: block;
        width: auto !important;
        padding: 5px 0;
        font-size: 11px;
        font-variant: small-caps;
    }
    .contest_alert a{
        margin-top: 20px;
    }
    .contest .article_content{
        padding: 0 30px;
    }
    .contest .result p,
    .contest .result h2{
        margin: 20px 30px;
    }

    .contests_list .date,
    .contests_list .icon{
        float: none;
    }
    .contests_list .date{
        width: auto;
    }
    .contests_list time:last-child:before{
        display: inline-block;
        margin: 0 5px 0 2px;
    }
    .contests_list::before{
        left: 50%;
        width: 50px;
        padding: 3px 0;
        margin-left: -25px;
        text-align: center;
    }
    .contests_list .item{
        padding: 25px 0
    }
    .contests_list .icon{
        display: block;
        margin: 15px auto 30px;
    }

    .follow_us{
        width: auto;
        float: none;
        margin: 0 0 50px 0;
    }

    .scroll_button{
        left: auto;
        bottom: 0;
        right: 0;
        padding: 12px 14px;
        font-size: 12px;
    }

    .random_articles {margin: 0}



}



@media print, (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 1.25dppx), (min-resolution: 120dpi) {
    .m_logo_wrap .m_logo, .clarity_page .cdx_logo{
        background: url('../img/logo224@2x.png') no-repeat;
        background-size: 224px 224px;
    }
    .logo_medium{
        background: url('../img/logo_medium@2x.png') no-repeat;
        background-size: 233px 231px;
    }

    .mobile_logo_small{
        background: url('../img/logo_medium.png') no-repeat;
        background-size: 123px auto;
    }
    .ava_wrapper .settings .gear{
        background: url('../img/icon_gear@2x.png') no-repeat;
        background-size: 21px 21px;
    }
    .ny_land{
        background-size: 200px auto;
    }
    .contest .line:before{
        background: #fff url('../img/contest_icon_goblet@2x.png') no-repeat 50% 50%;
        background-size: 18px auto;
    }

    .contest .nick::before,
    .contest .nick::after{
        background: url('../img/branches@2x.png') no-repeat;
        background-size: 110px auto;
    }
    .contest .nick::after{
        background-position: -55px 0;
    }
    .icon_telegram{
        background: url('../img/icon_telegram@2x.png') no-repeat;
        background-size: 28px 28px;

    }
}