/************************************************************************************** 
                            <ОБЩИЕ СТИЛИ>
***************************************************************************************/
/* сброс значений по умолчанию */
* {margin:0;padding:0;font-family: helvetica;font-size: 14px;resize:none;outline:none;}
/* документ */
html, body {height:100%;min-width: 965px;}

.main {}
/* ссылки */
a, .link {font-size:14px;text-decoration:none ;color: #6091c8;}
a:hover, a.selected , .link.selected { text-decoration: underline; }
a img{border: none;}
/* параграфы */
p {text-align:justify;padding:10px 0;font-size: 14px;line-height: 125%;}
/* таблицы */
table {width: 100%; height: 100%; border-collapse: collapse;border: none;}
/* списки */
ul {margin-left:10px;list-style-position: inside;}
li {margin-left: 10px;line-height: 150%;}
/* заголовки */
h1 {margin: 0.67em 0;font-size: 2em;}
h2 {font-size:20px;padding-top: 15px;}
h3 {font-size:18px}
h4 {font-size:16px}
/* скрытые блоки */
.hidden {display: none!important;}
.hidden_file {position: absolute;opacity: 0;z-index: -1;left:-99999px;}
.hidden_animation {display: block!important;height:0!important;transition: 1s;transition-property:height;}
.overflow_h {overflow:hidden;}
/* для отладки */
.outline   {outline:1px solid grey;}
/* выравнивание блоков*/
.left {float:left;}
.right {float:right;}
.clear {clear:both;}
.wrap_95 { width: 95%; margin: 0 auto; }
.block { display: block; }
/* выравнивание текста*/
.tcenter, .tcenter *{ text-align:center;}
.tjustify, .tjustify *{ text-align:justify;}
/* отступы */
.sep { padding: 10px 0;}
.sep_2 { padding: 10px 0;}
.tsep_2 { padding-top: 20px;}
.tsep { padding-top: 10px;}
.bsep { margin-bottom: 10px;}
.bsep_2 { margin-bottom: 20px;}

.msep { margin: 10px 0;}
.msep_2 { margin: 20px 0;}
.tmsep { margin-top: 10px;}
.tmsep_2 { margin-top: 20px;}
.bmsep { margin-bottom: 10px;}
.bmsep_2 { margin-bottom: 20px;}
/* шрифты */
.fnt_12, .fnt_12 * {font-size:12px;}
.fnt_14, .fnt_14 * {font-size:14px;}
.fnt_16, .fnt_16 * {font-size:16px;}
.fnt_30, .fnt_30 * {font-size:30px;}
/* фоновые классы */

/* цветовые классы */
.gold, .gold *{color:#c7b769;}
.grey {color: #9f9f9f;}

/************************************************************************************** 
                            </ОБЩИЕ СТИЛИ>
***************************************************************************************/


/************************************************************************************** 
                                    <КАРКАС>
***************************************************************************************/
/* для подвала надо задать отрицительный отступ по высоте подвала */
.wrapper{ margin: 0 auto -85px auto;min-height: 100%; height: auto !important; height: 100%; padding: 0;overflow: hidden;width: 965px;/* outline: 1px solid; */}
.ie_7 .wrapper{margin-bottom: -103px;}/* добавить на 17 px меньше */

/* ширина сайта и выравнивание по центру */
.inside{width: 965px; margin: 0 auto;}

/* высота подвала*/
.footer-push{height: 85px;}
/************************************************************************************** 
                                    </КАРКАС>
***************************************************************************************/



/************************************************************************************** 
                                    <ШАПКА>
***************************************************************************************/
div.header {}

.logo {float: left;margin-left: 10px;}
.logo img{width:208px;height:41px;}

ul.top_menu { padding-top: 0px; float: right; margin: 20px 0px 0 0; }
ul.top_menu li{float:left;list-style-type: none;/* padding-top: 10px; */margin: 0 8px 10px;border-top: 1px solid transparent;}
ul.top_menu li a{font-size: 16px;color:white;text-decoration: none;padding-top: 10px;}
ul.top_menu li.sep{ border-right: 1px solid #61625F; margin: 0; padding: 30px 0 0 0; margin-top: -6px; }
ul.top_menu li.enter a { background: url(/images/mainSprite.png?) no-repeat -1px -157px; padding-left: 25px; color:#c7b769; }
ul.top_menu li.logout { /* width: 0px; */ }
ul.top_menu li.selected, ul.top_menu li:hover{/* border-top: 1px solid #c7b769; */}
ul.top_menu .selected a, ul.top_menu li:hover a{color: #c7b769;border-top: 1px solid #c7b769;}

/************************************************************************************** 
                                    </ШАПКА>
***************************************************************************************/

/************************************************************************************** 
                                    <ПОДВАЛ>
***************************************************************************************/
div.footer {
    height: 85px;
    /* background: gray; */
    border-top: 1px solid #eceff6;
    margin-top: 15px;
}


/* MAIN TEMPLATE */
ul.menu {
    /* padding:  0  0 35px 0; */
    margin: 0 0 35px 0;
    border-bottom: 1px solid #eceff6;
}
ul.menu li{
    position: relative;
    display: inline-block;
    padding: 18px;
    color: #6091c8;
    text-decoration: none;
    font-size: 16px;
    margin: 0;
}
ul.menu li a{font-size: 16px;}

a.go_top {
    display: block;
    text-align: center;
    margin-top: 15px;
}

/* LIST */
.article {
    clear:both;
    margin-bottom: 25px;
}

.article h2 {
    margin:15px 0;
    padding:0;
}
.article img {
    width: 200px;
    float: left;
    margin-right: 15px;
    margin-bottom: 15px;
    /* border: 2px dashed rgba(65, 131, 196, 0.39); */
}
.article .credits {font-weight:bold;clear: both;}
.article .actions {
    text-align: right;
}
.article .actions a{
    margin-left: 15px;
}

/* EDITOR */
.edit_article {
    width: 800px;
    /* outline: 1px solid; */
}
.edit_article label {display:block;margin-bottom:10px;}
.edit_article input[type=text], .edit_article textarea, .edit_article .input{
    border: 1px solid gray;
    padding: 1%;
    width: 98%;
    display: block;
    margin: 5px 0 15px 0;
}
.edit_article input[type=file]{}
.edit_article textarea{
    height: 250px;
}
.edit_article button{
    padding: 5px 15px;
    float: right;
}
.edit_article .cover{
    border: 1px solid gray;
    /* padding: 5px; */
    width: 96%;
    display: block;
    margin: 5px 0 15px 0;
    padding: 2%;
}
.edit_article .cover img{max-width: 100%;max-height: 350px;margin: auto;display: block;}

.edit_article .cover .actions {
    text-align: center;
}
.edit_article .cover .actions a{
    margin:  0 10px;
    border-bottom: 1px dashed;
}
.edit_article .cover .actions a:hover{
    text-decoration:none;
}

.edit_article .actions a{

    margin-right: 15px;}