/**
  * Article styles with editor plugins
  */

/** Paragraph styles */
.article_content p {
    margin: 10px 130px;
}

/** Image styles */
.article_content img {
    display: block;
}

.article_content img.ce-plugin-image__uploaded--centered {
    max-width: 700px !important;
    margin: 0 auto !important;
    display: block;
}

.article_content img.ce-plugin-image__uploaded--stretched {
    margin: 0 !important;
}

.article_content .ce-plugin-image__caption {
    max-width: 700px;
    margin: 1em auto;
    text-align: center;
    color: #898a8c;
}

/** Header styles */
.article_content h1,
.article_content h2,
.article_content h3,
.article_content h4,
.article_content h5,
.article_content h6 {
    margin: 50px 130px 30px;
}

/** List styles */
.article_content ul,
.article_content ol {
    margin: 50px 130px;
}

/** Code styles */
.article_content code {
    margin: 0 130px;
}

/** Quote styles */
.article_content blockquote {
    border: 0 !important;
}

.ce-quote {
    max-width: 700px;
    margin: 20px auto !important;
}
.quoteStyle-simple--text {
    padding: 1.2em 2.1em;
    margin: 2.5em 2em;
    background: #FBFBFB;
}

.quoteStyle-withCaption--blockquote {
    margin: 0 1em;
    padding: 1.5em 2.0em !important;
}

.quoteStyle-withCaption--author {
    margin: 0 100px 3em !important;
    text-align: right;
    font-size: 1.16em;
    font-weight: bold;
    color: #000;
    line-height: 1.5em;
}

.article_content img {
    margin: 0 !important;
}

.quoteStyle-withPhoto--wrapper {
    margin: 0;
    padding: 1.5em 3.6em !important;
}

.quoteStyle-withPhoto--photo {
    width: 70px;
    height: 70px;
    overflow: hidden;
    text-align: center;
    line-height: 70px;
    border-radius: 50%;
    float: left;
    margin-right: 25px;
    border: 2px dashed #D7E2EE;
}
    .authorsPhoto {
        height: 110%;
        vertical-align: top;
    }

    .authorsPhoto-wrapper {
        border: 0 !important;
    }

    .quoteStyle-withPhoto--author {
        font-size: 1.36em;
        font-weight: bold;
        color: #000;
        outline: none;
        overflow: hidden;
        margin-bottom: 8px;
    }
    .quoteStyle-withPhoto--job {
        font-size: 1.04em;
        color: #818BA1;
        outline: none;
        overflow: hidden;
    }
    .quoteStyle-withPhoto--quote {
        margin-top: 33px;
        line-height: 1.82em;
        outline: none;
        overflow: hidden;
    }

    .quoteStyle-withPhoto--authorWrapper {
        margin-top: 10px;
    }