/**
* Quiz form stylesheets
*/

.quiz-form {
    margin: 30px 0;
}

.quiz-form input[type="text"],
.quiz-form textarea {
    background : none;
}

.quiz-form .button[type="submit"] {
    float : right;
}

.quiz-form__input-title,
.quiz-form__question-heading {
    font-size : 2em !important;
    margin-bottom : 5px;
}

.quiz-form__input-title,
.quiz-form__input-description,
.quiz-form__question-heading,
.quiz-form__question-body {
    padding : 0 !important;
    max-width : 80%;
}

.quiz-form__question {
    margin : 30px 0;
    padding : 30px;
    border : 1px solid #eceff6;
    border-radius : 2px;
}

.quiz-form__question-right {
    float : right;
}

.quiz-form__question-number {
    margin-bottom: 10px;
}

.quiz-form__input-title
.quiz-form__question-heading {
    margin-bottom : 10px;
}

.quiz-form__input-description,
.quiz-form__question-body,
.quiz-form__question-answer {
    font-size : 1.2em;
}

.quiz-form__question-remove-block {
    display : block;
    margin-top : 10px;
    font-size : 1em;
    color : #eb5757;
    cursor : pointer;
}

.quiz-form__question-answer-wrap {
    position : relative;
}

.quiz-form__question-answer {
    width: auto !important;
}
/*
.quiz-form__question-radio {
    width : 12px;
    height : 12px;
    margin : 2px;
    background : #4f4f4f;
    border-radius : 8px;
}*/

.quiz-form__question-radio {
    display: inline-block;
    width : 20px;
    height : 20px;
    border : 2px solid #4f4f4f;
    border-radius : 50%;
    margin-right: 15px;
    vertical-align: middle;
}

#insertBlock {
    margin : auto;
}
