/**
* Quiz module styles
*/


/**
* Quiz holder
*/
.quiz {
    position: relative;
    margin: auto;
    max-width: 700px;
    background: #fff;
    padding: 40px;
    box-sizing: border-box;
    border: 1px #ECEFF6 solid;
    border-radius: 3px;
    font-size: 1.5em;
    overflow: hidden; //для позиционирования кнопки "далее"
}

/*
* Стили для слайда с вопросом
*/
.quiz__question-title {
    font-size: 1.05em;
    font-weight: 600;
    margin-bottom: 1.5em;
}

.quiz__question-counter {
    float: right;
    color: #828282;
}

.quiz__question-button{
    padding: 5px 10px;
    font: inherit;
    font-size: 0.66em;
    color: #4e88d6;
    background-color: #fff;
    border: #4e88d6 solid 1px;
    border-radius: 5px;
    outline: none;
    transition: background .5s, color .5s;
}

.quiz__question-button:hover,
.quiz__question-button:focus{
    background: #4e88d6;
    color: #fff;
}

.quiz__question-button:disabled,
.quiz__question-button:disabled:hover,
.quiz__question-button:disabled:focus {
    border-color: #b3b6bd;
    color: #b3b6bd;
    background-color: #fff;
    cursor: default;
}

.quiz__question-button_next {
	cursor: pointer;
    float: right;
}



/**
* Answers with radio
*/
.quiz__question-answer{
    position: relative;
    padding: .5em 0 .5em 40px;
    cursor: pointer;
    line-height: 1.4em;
}
.quiz__question-answer:before{
    position: absolute;
    left: 0;
    top: .4em;
    display: inline-block;
    content: '';
    width: 22px;
    height: 22px;
    border-radius: 50%;
    border: 4px solid #404040;
    box-shadow: inset 0 0 0 5px #fff;
}
.quiz__question-answer:hover::before{
    background: #404040;
}

.quiz__question-answer_right:before{
    border-color: #18d586;
    background: #18d586 !important;
}
.quiz__question-answer_wrong:before{
    border-color: #e94d4d;
    background: #e94d4d !important;
}
















.quiz__answer-message {
    margin-left: 40px;
    font-style: italic;
    color: #b3b6bd;
}

.quiz__result-title {
    font-size: 1.5em;
    text-align: center;
}

.quiz__result-score {
    margin: 1em 0;
    font-size: 2.5em;
    font-weight: bold;
    text-align: center;
}

.quiz__result-message {
    font-style: italic;
    text-align: center;
}


.quiz__retry-button {
    font-size: 0.8em;
    font-style: italic;
    text-align: center;
    cursor: pointer;
}

.quiz__sharing{
    text-align: center;
    padding: 30px 0;
    border-radius: 3px;
    color: #616C98;
}

.quiz__sharing .but{
    margin: 0 10px;
    cursor: pointer;
    color: #a1acc1;
    font-size: 30px;
}

.quiz__sharing .but:hover{color: #5D75BD;}
.quiz__sharing .tw:hover{color: #6E98FD;}
.quiz__sharing .tg:hover{color: #41ADFF;}
.quiz__sharing .tg{font-size: 25px;}