/**
* Quiz module styles
*/


/**
* Quiz holder
*/
.quiz {
    position: relative;
    margin: auto;
    max-width: 700px;
    background: #fff;
    padding: 30px 50px;
    box-sizing: border-box;
    border: 1px #ECEFF6 solid;
    border-radius: 3px;
    font-size: 15px;
}

/*
* Стили для слайда с вопросом
*/
.quiz__question-title {
    font-size: 1.15em;
    font-weight: 600;
    margin-bottom: 1em;
}

.quiz__question-counter {
    float: right;
    color: #828282;
    letter-spacing: 3px;
}

.quiz__question-button{
    padding: 10px 28px;
    margin-top: 22px;
    border: 0;
    border-radius: 30px;
    outline: none;
    font: inherit;
    background: #5c95cf;
    color: #fff;
}

.quiz__question-button:hover,
.quiz__question-button:focus{
    background: #3c7ab9;
    color: #fff;
}

.quiz__question-button:disabled,
.quiz__question-button:disabled:hover,
.quiz__question-button:disabled:focus {
    cursor: default;
}

.quiz__question-button_next {
	cursor: pointer;
}



/**
* Answers with radio
*/
.quiz__question-answer{
    position: relative;
    padding: .5em 0 .5em 36px;
    cursor: pointer;
    line-height: 1.4em;
}
.quiz__question-answer:not(:last-of-type){
    margin-bottom: .4em;
}
.quiz__question-answer:before{
    position: absolute;
    left: 0;
    top: .46em;
    display: inline-block;
    content: '';
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 4px solid #404040;
    box-shadow: inset 0 0 0 4px #fff;
}
.quiz__question-answer:hover::before{
    background: #404040;
}

.quiz__question-answer_selected.quiz__question-answer_right:before{
    border-color: #34b98e;
    box-shadow: none;
    background: #34b98e url(/public/img/quizzes/checked.svg) !important;
    background-size: cover !important;
}
.quiz__question-answer_selected.quiz__question-answer_wrong:before{
    border-color: #ec6d6d;
    background: #ec6d6d !important;
}

.quiz__question-answer_right:before{
    border-color: #34b98e;
    background: #34b98e !important;
}

.quiz__answer-message {
    margin: -.5em 0 .5em 36px;
    color: #717888;
}

.quiz__result-score {
    margin: 0.7em 0 1em;
    font-size: 2.7em;
    font-weight: bold;
    text-align: center;
    letter-spacing: 0.2em;
    color: #0081d2;
}

.quiz__result-message {
    text-align: center;
    font-size: 2em;
    line-height: 1.25em;
    letter-spacing: .02em;
    font-weight: bold;
}

.quiz__retry-button {
    position: relative;
    left: 40%;
    display: inline-block;
    cursor: pointer;
    border-bottom: 1px solid #abbee8;
    color: #186ebd;
}

.quiz__retry-button:before {
    content: '';
    display: inline-block;
    margin-bottom: -.3em;
    background-image: url(/public/img/quizzes/retry.svg);
    background-size: cover;
    height: 20px;
    width: 20px;
}

.quiz__sharing{
    text-align: center;
    padding: 40px 0 30px;
    border-radius: 3px;
    color: #616C98;
}

.quiz__sharing .but{
    margin: 0 10px;
    padding: 6px 20px;
    border-radius: 20px;
    cursor: pointer;
    color: #fff;
    background: #3c7dce;
    font-size: 1.2em !important;
    box-sizing: border-box;
}

.quiz__sharing .but:hover{
    background: transparent;
    box-shadow: inset 0 0 0 2px #5D75BD;
    color: #5D75BD;
}
.quiz__sharing .tw:hover{
    box-shadow: inset 0 0 0 2px #6E98FD;
    color: #6E98FD;
}
.quiz__sharing .tg:hover{
    box-shadow: inset 0 0 0 2px #41ADFF;
    color: #41ADFF;
}

@media all and (max-width: 800px) {
    .quiz__sharing .but{
        display: inline-block;
        padding: 0;
        font-size: 1em;
        width: 40px;
        height: 40px;
    }
    .quiz__sharing .but i{
        line-height: 40px;
    }
    .quiz__retry-button{
        left: 26%;
    }
}