/**
* Quiz form stylesheets
*/

.quiz-form {
    margin: 30px 0;
}

.quiz-form input[type="text"],
.quiz-form textarea {
    background : none;
}

.quiz-form__button-submit {
    float : right;
}

.quiz-form__quiz-title,
.quiz-form__question-title {
    font-size : 2em !important;
    margin-bottom : 5px;
}

.quiz-form__quiz-title,
.quiz-form__quiz-description,
.quiz-form__question-title {
    padding : 0 !important;
    max-width : 80%;
}

.quiz-form__question-holder {
    margin : 30px 0;
    padding : 30px;
    border : 1px solid #eceff6;
    border-radius : 2px;
}

.quiz-form__question-number,
.quiz-form__question-destroy {
    display : block;
    float : right;
}

.quiz-form__question-number {
    margin-bottom: 10px;
}

.quiz-form__quiz-title
.quiz-form__question-title {
    margin-bottom : 10px;
}

.quiz-form__quiz-description,
.quiz-form__question-answer-text {
    font-size : 1.2em;
}

.quiz-form__question-destroy {
    display : block;
    margin-top : 10px;
    font-size : 1em;
    color : #eb5757;
    cursor : pointer;
}

.quiz-form__question-answer-holder {
    position : relative;
}

.quiz-form__question-answer-text {
    width : auto !important;
}

.quiz-form__message-score,
.quiz-form__question-answer-score {
    display : inline-block;
    width : 40px;
    padding : 5px 5px 5px 0;
    border : none;
    font-size : 1.4em;
}

.quiz-form__message-message,
.quiz-form__question-answer-message {
    display : inline;
}

#insertQuestion {
    margin : auto;
}
