form {
    margin : 30px 0;
}

.quiz-form__button {
    height        : 40px;
    line-height   : 40px;
    text-align    : center;
    cursor        : pointer;
    background    : #5c95cf;
    color         : white;
    border        : none;
    border-radius : 20px;
}

.quiz-form__button:hover {
    background : #3c7ab9;
}

form .quiz-form__button:not([type="button"]) {
    width : 150px;
    float : right;
}

form .quiz-form__button[type="button"] {
    width : 200px;
}

input[type="text"],
textarea,
input[type="text"]:focus,
textarea:focus {
    display    : block;
    width      : auto;
    background : none;
}

form .quiz-form__input-title,
form .question__heading,
form .question__remove-block {
    font-size : 2em;
}

form .quiz-form__input-title,
form .quiz-form__textarea-description {
    padding : 0 0 10px 0;
}

form .quiz-form__wrap {
    margin-right : 180px;
}

form .question div.question__wrap {
    width : 80%;
    margin-right : 0;
}

form div.quiz-form__wrap *,
form div.question__wrap * {
    margin  : 0;
    padding : 0;
}

form .quiz-form__input-title,
form .quiz-form__textarea-description,
form .question__heading,
form .question__body {
    width : 100%;
}

form .question {
    width         : 100%;
    margin        : 30px 0;
    border        : 1px solid #eceff6;
    border-radius : 2px;
    display       : block;
}

form .quiz-form__textarea-description,
form .question__body {
    height : 30px;
}

form .question__right {
    display : inline;
    float   : right;
    margin  : 30px;
}

form .question > *:not(.question__right) {
    margin  : 30px 0;
    padding : 0 30px;
}

form .question .question__heading,
form .quiz-form__wrap .quiz-form__input-title {
    margin-bottom : 10px;
}

form .quiz-form__textarea-description,
form .question__body,
form .question__answer {
    font-size : 1.2em;
}

form .question__remove-block {
    margin-top : 10px;
    font-size  : 1em;
    color      : #eb5757;
    cursor     : pointer;
}

form .question__answer-wrap {
    position : relative;
}

form .question__answer {
    padding : 0.5px 0 0.5px 30px;
}

form span.question__correct {
    display       : none;
    position      : absolute;
    width         : 12px;
    height        : 12px;
    margin        : 2px;
    background    : #4f4f4f;
    border-radius : 8px;
}

form input.question__correct:checked + label.question__correct span.question__correct {
    display : block;
}

form label.question__correct {
    width         : 20px;
    height        : 20px;
    position      : absolute;
    left          : 30px;
    box-sizing    : border-box;
    border        : 2px solid #4f4f4f;
    border-radius : 10px;
}

#insertBlock {
    margin : auto;
}
