/**
* Quiz form stylesheets
*/


.quiz-form {
    margin-top : 50px;
}

.quiz-form__page-title {
    font-size : 30px;
    line-height : 45px;
}

.quiz-form__label {
    padding : 0;
    font-size : 16px;
    font-weight : normal;
    text-align : left;
}

.quiz-form__quiz-title,
.quiz-form__quiz-description {
    margin : 5px 0 20px;
}

.quiz-form__question-holder {
    margin : 20px 0;
}

.quiz-form__question-number {
    display : block;
    margin-bottom : 20px;
    font-size : 20px;
    font-weight : bold;
}

.quiz-form__question-title {
    margin : 5px 0 20px;
}
