/**
 * CodeX Reactions Module Landing
 */

 body {
    color: #646c79;
    background: #191B21;
    border-color: transparent;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

.site-header, .site-footer {
    display: none;
}

.reactions {
    flex-direction: column;
    padding-bottom: 30px;
    background-color: #212229;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
}

.reactions__about {
    padding: 10vh 0 22vh;
    text-align: center;
}

.reactions__info {
    margin: 0;
    color: #878e9e;
    font-size: 17px;
    line-height: 22px;
    font-weight: 400;
}

.reactions__example {
    display: flex;
    justify-content: center;
    margin-top: 48px;
}

.reactions__name {
    margin: 0.4em 0 11px;
    color: #fff;
    font-size: 36px;
    line-height: initial;
    font-weight: 700;
}

.reactions__logo {
    display: flex;
    width: 98px;
    height: 98px;
    margin: 0 auto;
}

.reactions__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 125px;
    height: 39px;
    margin: 2vh auto;
    color: #ffffff;
    border-radius: 19.5px;
    box-shadow: 0 9px 10px -8px rgba(9, 97, 213, 0.83);
    background-image: linear-gradient(to bottom, #1ba0ff, #4a9eff);
    font-size: 15px;
    line-height: 3.13;
    letter-spacing: -0.1px;
    cursor: pointer;
}

.reactions__button:active, .reactions__button:focus, .reactions__button:hover {
    background-image: linear-gradient(to bottom, #1ba0ff, #0c7abf);
}

.reactions__footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    animation: reactions_footer 2s ease-out 2s forwards;
    opacity: 0;
}

.reactions__footer-logo {
    display: flex;
    align-items: center;
}

.reactions__footer-icon {
    width: 40px;
    height: 40px;
}

.reactions__footer-title {
    margin-left: 10px;
    color: #fff;
    font-size: 17px;
    font-weight: bold;
}

.reactions__footer-description {
    margin: 0 25px;
}

@media (max-width: 580px) {
    
    .reactions__footer-logo {
        margin-bottom: 15px;
    }

    .reactions__footer-description {
        margin-bottom: 25px;
    }
}

@media (max-width: 320px) {

    .reactions {
        padding: 0 20px;
    }

    .reactions__logo {
        width: 20%;
        min-width: 50px;
        height: 70px;
    }

    .reactions__info {
        font-size: 14px;
    }
    
    .reactions__name {
        font-size: 22px;
    }

}

@keyframes reactions_footer {
    from { opacity: 0; }
    to {opacity: 1; }
}