/**
 * Define custom media directives
 */
@custom-media --mobile (max-width: 980px);

/**
 * Site style overrides
 */
body {
    background: #131416;
}
.site-footer,
.site-header {
    background: #131416;
}

.site-header__social,
.site-header__github-icon {
    display: none !important;
}

.site-header,
.site-footer {
    border-color: #181616;
    color: #333;
}

.site-header a {
    color: #fff;
}
.site-footer a {
    color: #595a5c;
}

.site-footer h5 {
    color: #bbb;
}

.site-footer .desclimer {
    color: inherit;
}

h2 {
    font-size: 40px;
    margin-top: 130px;
}

/**
 * Lab page styles
 */
.lab-page {
    background-color: #131416;
    color: #ffffff;

    font-size: 16px;
    line-height: 25px;
    letter-spacing: 0.18px;
    font-weight: 300;

    @media (--mobile) {
        margin: 0 20px;
    }

    &__intro-block {
        display: flex;
        flex-direction: column;
        align-items: center;

        max-width: 600px;
        margin: 0 auto;

        &-header {
            margin-top: 369px;
            margin-bottom: 0;
            line-height: 1em;
            font-size: 110px;
            font-weight: 900;
            letter-spacing: -1.21px;
            color: #ffffff;

            @media (--mobile) {
                font-size: 64px;
                margin-top: 260px;
            }
        }

        &-description {
            margin-top: 5px;
            font-size: 20px;
            letter-spacing: -0.22px;
            color: #787878;
        }

        &-anthem {
            margin-top: 50px;
            margin-bottom: 192px;
            letter-spacing: -0.22px;
            line-height: 1.4;
            font-size: 20px;

            @media (--mobile) {
                margin-bottom: 80px;
            }
        }
    }

    &__banner-pic {
        width: 100%;
        height: 520px;
        background-image: url("https://codex.so/upload/redactor_images/o_9fe12a632b1dbe4e13d4561865dfb7fe.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        padding: 0;

        @media (--mobile) {
            height: 100px;
        }
    }

    &__description {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        max-width: 600px;
        margin: 100px auto 0 auto;

        &-text {
            max-width: 371px;
            line-height: 1.56;
            letter-spacing: -0.32px;

            @media (--mobile) {
                max-width: 304px;
            }
        }

        &-pic {
            width: 151px;
            height: 150px;
            background-image: url("/public/app/img/codex-logo.svg");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
            padding: 0;

            @media (--mobile) {
                width: 100px;
                height: 100px;
            }
        }
    }

    &__directions {
        max-width: 600px;
        margin: 0 auto;

        &-title {
            line-height: 0.91;
            letter-spacing: -0.88px;
        }

        &-description {
            margin-top: 40px;
            line-height: 1.56;
            letter-spacing: -0.32px;
        }

        & ul {
            line-height: 1.67;
            letter-spacing: -0.48px;
            font-size: 24px;
            font-weight: 500;
            margin-top: 50px;
            list-style-type: none;
            padding: 0;
        }

        & li {
        }
    }

    &__cycle {
        max-width: 600px;
        margin: 0 auto;

        &-title {
            line-height: 0.91;
            letter-spacing: -0.88px;
            font-size: 44px;
            font-weight: bold;
        }

        &-description {
            margin-top: 40px;
            line-height: 1.56;
            letter-spacing: -0.32px;
        }

        &-list {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            margin-top: 50px;

            &-items {
                max-height: 378px;

                &-polygon {
                    position: relative;
                    width: 61px;
                    height: 118px;
                    background-image: url("/public/app/landings/lab/assets/rectangle.svg");
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: center center;
                    padding: 0;
                    margin: 0;

                    @for $i from 0 to 14 {
                        &--$i {
                            top: calc(-99px * $(i));
                            left: calc(28px * $(i));

                            @media (--mobile) {
                                left: calc(18px * $(i));
                            }
                        }
                    }
                }
            }

            & ul {
                list-style-type: none;
                padding: 0;
                font-size: 12px;
                letter-spacing: -0.24px;
            }

            & li {
            }
        }
    }

    &__roles {
        max-width: 600px;
        margin: 0 auto;

        &-title {
            font-size: 44px;
            font-weight: bold;
            line-height: 0.91;
            letter-spacing: -0.88px;
        }

        &-description {
            line-height: 1.56;
            letter-spacing: -0.32px;
        }

        &-list {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            margin-top: 50px;

            &-items {
                max-height: 378px;

                &-star {
                    position: relative;
                    width: 39px;
                    height: 39px;
                    background-image: url("/public/app/landings/lab/assets/star.svg");
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: center center;
                    padding: 0;
                    margin: 0;

                    @for $i from 0 to 16 {
                        &--$i {
                            top: calc(-39px * $(i) + 180px);
                            left: calc(180px);
                            transform: rotate(calc($(i) * (360 / 17))deg)
                                translateY(-180px)
                                rotate(calc(-$(i) * (360 / 17))deg);

                            @media (--mobile) {
                                top: calc(-39px * $(i) + 120px);
                                left: calc(120px);
                                transform: rotate(calc($(i) * (360 / 17))deg)
                                    translateY(-120px)
                                    rotate(calc(-$(i) * (360 / 17))deg);
                            }    
                        }
                    }
                }
            }

            & ul {
                list-style-type: none;
                padding: 0;
                font-size: 12px;
                line-height: 2;
                letter-spacing: -0.24px;
            }

            & li {
            }
        }
    }

    &__about {
        max-width: 600px;
        margin: 0 auto;

        &-title {
            line-height: 0.91;
            letter-spacing: -0.88px;
            font-size: 44px;
            font-weight: bold;
        }

        &-description {
            letter-spacing: -0.32px;
            line-height: 1.56;
        }

        &-icons {
            margin-top: 35px;
            display: flex;
            justify-content: flex-start;
            align-items: center;

            &-item {
                display: inline-block;
                width: 34px;
                height: 34px;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center center;
                padding: 0;
                margin: 0;

                &:not(:last-of-type) {
                    margin-right: 30px;
                }

                &--instagram {
                    background-image: url("/public/app/landings/lab/assets/icons/instagram.svg");
                }

                &--vk {
                    background-image: url("/public/app/landings/lab/assets/icons/vk.svg");
                }

                &--twitter {
                    height: 28px;
                    background-image: url("/public/app/landings/lab/assets/icons/twitter.svg");
                }

                &--telegram {
                    background-image: url("/public/app/landings/lab/assets/icons/telegram.svg");
                }

                &--github {
                    background-image: url("/public/app/landings/lab/assets/icons/github.svg");
                }

                &--npm {
                    background-image: url("/public/app/landings/lab/assets/icons/npm.svg");
                }
            }
        }
    }

    &__partners {
        max-width: 600px;
        margin: 0 auto;

        &-title {
            line-height: 0.91;
            letter-spacing: -0.88px;
            font-size: 44px;
            font-weight: bold;
        }

        &-list {
            margin-top: 40px;

            &-row {
                display: flex;
                justify-content: space-between;
                align-items: center;

                &:not(:first-of-type) {
                    margin-top: 50px;

                    @media (--mobile) {
                        margin-top: 40px;
                    }
                }

                @media (--mobile) {
                    flex-direction: column;
                    align-items: flex-start;
                }
            }
        }

        &-item {
            @media (--mobile) {
                margin: 20px 0;
            }

            &--faculty {
                width: 200px;
                height: 77px;
                background-image: url("/public/app/landings/lab/assets/faculty-of-secure-information-technologies.svg");
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center center;
                padding: 0;
            }

            &--itmo {
                width: 278px;
                height: 34px;
                background-image: url("/public/app/landings/lab/assets/itmo-logo.svg");
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center center;
                padding: 0;
            }

            &--isac {
                &-title {
                    color: #a0a1a1;
                    margin-bottom: 7px;
                    letter-spacing: -0.32px;
                }

                &-name {
                    letter-spacing: -0.32px;
                }
            }

            &--mail {
                letter-spacing: -0.32px;
            }
        }
    }

    &__form {
        max-width: 600px;
        margin: 0 auto;

        &-title {
            margin-bottom: 40px;
            line-height: 0.91;
            letter-spacing: -0.88px;
            font-size: 44px;
            font-weight: bold;
        }

        &-body {
            margin-bottom: 50px;

            & label {
                margin: 26px 0 10px 12px;
                display: block;
                letter-spacing: -0.18px;
            }

            & textarea {
                width: 407px;
                background-color: rgba(255, 255, 255, 0.08);
                height: 112px;
                box-sizing: border-box;
                border-radius: 10px;
                border: 0;
                font-family: inherit;
                outline: none;
                resize: none;
                color: #fff;
                padding: 12px;
            }

            & button {
                width: 407px;
                background-color: #3a8df5;
                margin-top: 26px;
                padding: 15px 146px 15px 147px;
                border-radius: 10px;
                color: #fff;
                border: 0;
                font-weight: 500;
                letter-spacing: -0.18px;

                &:hover {
                    cursor: pointer;
                    background-color: #3183eb;
                }

                &:active {
                    background-color: #3277cf;
                }
            }
        }
    }

    &__telegram-auth-button {
        text-align: center;
    }

    &--transparent {
        opacity: 0;
    }

    &--animated-visible {
        opacity: 1;
        transition: opacity 70ms;
    }
}
