:root {
    /** Texts */
    --text-gray: #6c7580;
    --text-green: #00b693;
    --text-pink: #bc1453;

    /** Links */
    --color-link: #2969b9;
    --color-hover: #2c7fe5;

    /** Backgrounds */
    --bg-button: #c5dff5;
    --bg-button-submut: #4592da;
    --bg-light: #f4f5f9;

    /** Borders */
    --line-light: #e7e9f5;

    /** Bounce timing function for transition */
    --timing-bounce: cubic-bezier(0.6, -0.28, 0.735, 0.045);

    /** Editor block inner width */
    --article-max-width: 650px;

    /** Additional fonts families */
    --serif-font: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans";

    /**
     * Clearfix
     *
     * usage: @apply --clearfix;
     */
    --clearfix: {
        &::after {
            content: " ";
            display: table;
            clear: both;
        }
    };

    /**
     * Image alt-placeholder
     * Style 1st letter from alt="" attribute
     */
    --image-placeholder: {
        background-color: var(--bg-light);
        overflow: hidden;
        font-size: 3em;
        line-height: 1em;
        letter-spacing: 1.9em;
    }
}

/**
* Custom media queries
*/
@custom-media --desktop all and (min-width: 1050px);
@custom-media --tablet all and (max-width: 1050px);
@custom-media --mobile all and (max-width: 980px);
@custom-media --retina all and (-webkit-min-device-pixel-ratio: 1.5);
