/**
 * CodeX Reactions Module Landing
 */

 body, .site-header, .site-footer {
    background: #191B21;
    border-color: transparent;
    color: #646c79;
}

.reactions {
    padding-bottom: 30px;
    background-color: #212229;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
}

.reactions__about {
    padding: 10vh 0 29vh;
    text-align: center;
}

.reactions__info {
    font-size: 17px;
    line-height: 22px;
    font-weight: 400;
    margin: 0;
    color: #878e9e;
}

.reactions__name {
    margin: 0.4em 0 11px;
    font-size: 36px;
    font-weight: 900;
    line-height: initial;
    color: #fff;
}

.reactions__logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
    width: 98px;
    height: 98px;
    background: url("/public/app/landings/reactions_module/img/product_hunt_cat.svg") no-repeat;
}

.reactions__button {
    width: 125px;
    height: 39px;
    border-radius: 19.5px;
    -webkit-box-shadow: 0 9px 10px -8px rgba(9, 97, 213, 0.83);
            box-shadow: 0 9px 10px -8px rgba(9, 97, 213, 0.83);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#1ba0ff), to(#4a9eff));
    background-image: -webkit-linear-gradient(top, #1ba0ff, #4a9eff);
    background-image: -o-linear-gradient(top, #1ba0ff, #4a9eff);
    background-image: linear-gradient(to bottom, #1ba0ff, #4a9eff);
    font-size: 15px;
    line-height: 3.13;
    letter-spacing: -0.1px;
    color: #ffffff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 10vh auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.reactions__footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.reactions__footer-logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.reactions__footer-icon {
    width: 40px;
    height: 40px;
    background: url("/public/app/landings/reactions_module/img/product_hunt_logo_orange.svg") no-repeat;
}

.reactions__footer-logo h2 {
    margin-left: 10px;
    font-size: 17px;
    font-weight: bold;
    color: #fff;
}

.reactions__footer p {
    margin: 0 20px 0 20px;
}

@media (max-width: 580px) {
    .reactions__footer-logo,
    .reactions__footer p {
        margin-bottom: 25px;
    }
}