
@font-face {
  font-family: 'codex_ic';
  src: url('/public/app/fonts/codex_icons/codex_ic.eot?2');
  src: url('/public/app/fonts/codex_icons/codex_ic.eot?2#iefix') format('embedded-opentype'),
       url('/public/app/fonts/codex_icons/codex_ic.woff?2') format('woff'),
       url('/public/app/fonts/codex_icons/codex_ic.ttf?2') format('truetype'),
       url('/public/app/fonts/codex_icons/codex_ic.svg?2#codex_ic') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'codex';
    src: url('../font/codex.svg?30090408#codex') format('svg');
  }
}
*/

 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "codex_ic";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

.icon-vkontakte:before { content: '\e800'; }
.icon-twitter:before { content: '\e801'; }
.icon-facebook-squared:before { content: '\e802'; }
.icon-github-circled:before { content: '\e803'; }
.icon-heart:before { content: '\e804'; }
.icon-star:before { content: '\e805'; }
.icon-star-empty:before { content: '\e806'; }
.icon-search:before { content: '\e807'; }
.icon-rss:before { content: '\e808'; }
.icon-link:before { content: '\e809'; }
.icon-chat:before { content: '\e80a'; }
.icon-pencil:before { content: '\e80b'; }
.icon-pin:before { content: '\e80c'; }
.icon-attach:before { content: '\e80d'; }
.icon-tags:before { content: '\e80e'; }
.icon-up-big:before { content: '\e80f'; }
.icon-down-big:before { content: '\e810'; }
.icon-eye:before { content: '\e811'; }
.icon-instagram:before { content: '\e812'; }
.icon-briefcase:before { content: '\e813'; }
.icon-users:before { content: '\e814'; }
.icon-user:before { content: '\e815'; }
.icon-user-add:before { content: '\e816'; }
.icon-forward:before { content: '\e817'; }
.icon-cog-1:before { content: '\e818'; }
.icon-ok:before { content: '\e819'; }
.icon-cancel:before { content: '\e81a'; }
.icon-spin4:before { content: '\e81b'; }
.icon-picture:before { content: '\e81c'; }
.icon-cog:before { content: '\e81d'; }
.icon-paper-plane:before { content: '\e81e'; }
.icon-facebook:before { content: '\e81f'; }