@import url('variables.css');
@import url('normalize.css');
@import url("icons.css");
@import url('base.css'); /** @todo refactor and separate to components */

/**
 * Layout
 */
@import url('components/header.css');
@import url('components/footer.css');

/**
 * Components
 */
@import url('components/read-also.css');
@import url('components/event-alert.css');
@import url('components/page-menu.css');
@import url('components/feed-drag-n-drop.css');
@import url('components/page-header.css');
@import url('components/best-developers.css');
@import url('components/breadcrumbs.css');
@import url('components/news.css');
@import url('components/scroll-up.css');
@import url('components/sharing.css');
@import url('components/vk-community.css');
@import url('components/quiz.css');
@import url('components/quiz-form.css');
@import url('components/site-section.css');
@import url('components/article-card.css');
@import url('components/product-card.css');
@import url('components/product-cell.css');
@import url('components/follow.css');
@import url('components/course-navigation.css');
@import url('components/video-overlay.css');
@import url('components/follow-telegram.css');
@import url('components/join.css');

/**
 * Pages
 */
@import url('pages/index.css');
@import url('pages/join.css');
@import url('pages/task.css');
@import url('pages/articles.css');
@import url('pages/article.css');
@import url('pages/profile.css');
@import url('pages/contests.css');
@import url('pages/admin.css');
@import url('pages/writing.css');
@import url('pages/course.css');
@import url('pages/editor-landing.css');
