/**
*
* New Year landing styles
*
*/
.ny_land{
    padding: 40px;
    background: #b00303 url('/public/app/img/new_year_pattern.png');
    color: #fff;
    text-align: center;
}
    .ny_land h1{
        font-size: 35px;
        margin: 50px 0;
    }
    .ny_land p{
        max-width: 600px;
        margin: 30px auto;
        font-size: 17px;
        line-height: 1.5em;
    }
        .ny_land p a{
            color: #fff;
            text-decoration: none;
            border-bottom: 1px solid #FFC7C7;
        }
    .ny_land .text_link{
        display: inline-block;
        margin: 10px 0;
        padding: 10px 20px;
        text-decoration: none;
        border: 2px solid #fff;
        border-radius: 25px;
        color: #fff;
    }
    .ny_land .show_blank{
        display: inline-block;
        font-weight: bold;
        font-size: 23px;
        letter-spacing: 1px;
        border-bottom: 1px solid #FFC7C7;
    }
        .ny_land .show_blank:hover{
            color: #FFB8B8;
            border-bottom-color: #FF6161;
        }
    .ny_land .form{
        background: #fff;
        color: #111;
        max-width: 740px;
        margin: 40px auto;
        border-radius: 2px;
        padding: 50px 90px;
        transition: all 200ms ease;
    }
        .ny_land .form.pulled{
            transform: translate3d(0, 50px, 0);
            opacity: 0;
        }
        .ny_land .form .number{
            display: inline-block;
            border: 2px solid #fb5b5b;
            padding: 3px 8px 2px 9px;
            border-radius: 30px;
            color: #d54e4e;
            font-weight: bold;
        }
        .ny_land .form p{
            font-size: 16px;
            margin: 15px auto 40px;
            text-align: left;
        }

    .ny_land .auth{
        display: block;
        padding: 35px;
        border: 2px solid #ccc;
        border-radius: 2px;
        color: #7e7e7e;
        text-decoration: none;
    }
        .ny_land .auth:hover{
            border-color: #e08080;
            color: #cb6161;
        }
        .ny_land .auth i{
            display: inline-block;
            font-size: 32px;
            margin-bottom: 20px;
        }
        .ny_land .auth .offer{
            font-weight: bold;
            font-size: 16px;
        }
    .ny_land form{
        text-align: left;
    }
    .ny_land label{
        display: block;
        text-align: left;
        font-weight: bold;
        margin-bottom: 10px;
    }
    .ny_land textarea{
        font-size: 17px;
        line-height: 1.5em;
        margin-bottom: 12px;
    }
    .ny_land .submit{
        padding: 15px 30px;
        background: #cd3b3b;
        font-size: 16px;
        line-height: 1em;
    }
        .ny_land .submit:hover{
            background: #190303;
        }
    .ny_land .error{
        color: #CA3B3B;
        font-size: 26px;
        line-height: 1.3em;
        font-weight: bold;
        margin-bottom: 50px;

    }

.ny_request_saved{
    position: absolute;
    left: 30px;
    top: 30px;
    padding: 15px 25px;
    border: 2px solid #e08080;
    color: #cb6161;
    font-size: 14px;

}

@media all and (max-width: 800px){

    .ny_land h1 {
        font-size: 28px;
        line-height: 1.3em;
        margin: 30px 0;
    }
    .ny_land p {
        font-size: 15px;
    }
    .ny_land .form {
        max-width: none;
        margin: 30px -30px;
        padding: 30px;
    }
    .ny_land .form p{
        font-size: 13px;
    }
    .ny_land .show_blank{
        display: inline;
    }
    .ny_request_saved{
        position: relative;
        left: auto;
        top: auto;
        margin: 20px;
    }

}


@media print, (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 1.25dppx), (min-resolution: 120dpi) {

    .ny_land{
        background-size: 200px auto;
    }


}