<?php defined('SYSPATH') OR die('No direct access allowed.');

return array
(
    'default' => array
    (
        'hostname' => 'redis',
        'port'     => '6379',
        'password' => '',
        'database' => '0',
    ),
);
