/**
 * CodeX Bot Landing
 */

.codex-bot {
    font-family: Lato;
    padding-bottom: 200px;
}
.codex-bot__about {
    width: 100%;
    padding: 40px 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px solid #F4F4F4;
}
.codex-bot__description {
    display: inline-block;
    margin-left: 35px;
}
.codex-bot__logo {
    height: 115px;
    padding: 30px;
    border: 1px solid #F4F4F4;
}
.codex-bot__info {
    color: #000;
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    margin: 0;
}
.codex-bot__name {
    color: #000;
    font-size: 51px;
    line-height: 61px;
    font-weight: 700;
    line-height: initial;
}
.codex-bot__links {
    display: inline-block;
    white-space: nowrap;
    padding-top: 40px;
}
.codex-bot__links-item {
    font-size: 19px;
    line-height: 32px;
    text-decoration: none;
    margin-right: 15px;
}
.codex-bot__button {
    box-sizing: border-box;
    padding: 12px 15px;
    width: 227px;
    background-color: #fff;
    color: #000;
    font-size: 20px;
    line-height: 24px;
    text-decoration: none;
    display: inline-block;
    text-align: left;
    margin-bottom: 15px;
    border: 1px solid #E7E7E7;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.04);
    border-radius: 5px;
    float: right;
}
.codex-bot__button:hover {
    background-color: #FDFDFD;
    color: initial;
}
.codex-bot__button-img {
    margin-right: 15px;
    height: 28px;
    vertical-align: middle;
}
.codex-bot__button-text {
    line-height: 28px;
    vertical-align: middle;
}
.codex-bot__integrations-title {
    display: flex;
    align-items: baseline;
    padding: 40px 0;
    font-size: 19px;
    line-height: 22px;
}
.codex-bot__integrations-link {
    font-size: 15px;
    line-height: 18px;
    margin-left: 20px;
}
.codex-bot__integrations-layout {
    display: flex;
}
.integrations__block {
    display: flex;
    padding: 30px;
    border: 1px solid #F4F4F4;
    border-radius: 2px;
}
.integrations__block-content {
    width: 351px;
}
.integrations__block:first-of-type {
    margin-right: 20px;
}
.integrations__block-github {
    padding: 20px;
    border: 1px solid #F4F4F4;
    border-radius: 3px;
    margin-right: 30px;
    height: 44px;
    align-self: flex-start;
}
.integrations__block-title {
    font-size: 22px;
    line-height: 27px;
}
.integrations__block-yandex {
    width: 67px;
}
.integrations__block-desc {
    font-size: 15px;
    line-height: 20px;
    color: #626262;
    padding: 15px 0;
}
.integrations__block-contributers {
    display: inline-block;
}
.integrations__block-dev {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    display: inline-block;
    background-color: #E96565;
    margin-right: 10px;
}
.integrations__block-link {
    font-size: 13px;
    line-height: 19px;
    color: #626262;
    float: right;
}

@media all and (max-width: 800px) {
    .codex-bot {
        padding: 40px 0;
    }
    .codex-bot__about {
        flex-direction: column;
        padding: 0;
        text-align: center;
    }
    .codex-bot__info {
        font-size: 16px;
    }
    .codex-bot__name {
        font-size: 30px;
    }
    .codex-bot__description {
        margin-left: 0;
        margin-top: 20px;
    }
    .codex-bot__button-layout {
        display: flex;
        flex-direction: column;
    }
    .codex-bot__button {
        font-size: 15px;
        width: 195px;
    }
    .codex-bot__links {
        flex-direction: column;
        padding: 15px 0;
    }      
    .codex-bot__links-item {
        font-size: 14px;
        line-height: 21px;
        margin-right: 0;
        display: block;
    }
    .codex-bot__integrations-title  {
        flex-direction: column;
        padding: 30px 0;
        align-items: center;
        font-size: 16px;
    }
    .codex-bot__integrations-link {
        margin-left: 0;
        font-size: 14px;
    }
    .codex-bot__integrations-layout     {
        flex-direction: column;
    }
    .integrations__block:first-of-type {
        margin-right: 0;
        margin-bottom: 15px;
    }
    .integrations__block-github {
        display: none;
    }
    .integrations__block-link {
        display: block;
        margin-top: 10px;
        float: none;
    }
}
