/**
 * CodeX Bot Landing
 */
.codex-bot {
    font-family: Lato;
}

.codex-bot__heading {
    font-size: 18px;
    line-height: 3em;
    border-bottom: 1px solid #ecedf0;
    margin-bottom: 30px;
}

.codex-bot__about {
    padding: 25vh 0 23vh;
    text-align: center;
}

.codex-bot__info {
    font-size: 1.5em;
    line-height: 22px;
    font-weight: 400;
    margin: 0;
}

.codex-bot__name {
    margin: 0.1em 0 0.9em;
    font-size: 3.5em;
    font-weight: 700;
    line-height: initial;
}

.codex-bot__button {
    display: inline-block;
    padding: 10px 26px 10px 18px;
    background: #fff;
    font-size: 18px;
    line-height: 30px;
    text-decoration: none;
    text-align: left;
    border: 1px solid #e7e7e7;
    box-shadow: 0 2px 3px 0 rgba(38, 45, 67, 0.02);
    border-radius: 3px;
    color: inherit;
}

.codex-bot__button svg {
    display: inline-block;
    width: 26px;
    height: 26px;
    vertical-align: middle;
    margin-right: 0.5em;
    margin-top: -0.3em;
}

.codex-bot__button:first-of-type {
    margin-right: 20px;
}

.codex-bot__button:hover {
    background-color: #fdfdfd;
    color: initial;
    text-decoration: none;
}

.codex-bot__integrations-layout {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/**
 * Application block
 * ==================
 */
.bot-app {
    position: relative;
    display: inline-block;
    vertical-align: top;
    padding: 30px;
    padding-bottom: 80px;
    width: 48.5%;
    margin-bottom: 28px;
    box-sizing: border-box;
    border: 1px solid #ecedf0;
    border-radius: 2px;
}

@media all and (max-width: 980px) {
    .bot-app {
        width: auto;
    }
}

.bot-app__icon {
    float: right;
    width: 60px;
    margin-left: 30px;
    margin-bottom: 30px;
}

.bot-app__title {
    font-size: 21px;
    font-weight: bold;
    color: inherit;
    text-decoration: none;
}

.bot-app__desc {
    font-size: 15px;
    line-height: 1.5em;
    color: #626262;
    padding: 15px 0;
}

.bot-app__contributors {
    position: absolute;
    bottom: 30px;
    left: 30px;
}

.bot-app__contributor {
    display: inline-block;
    width: 22px;
    height: 22px;
    margin-right: 5px;
    border-radius: 50%;
    overflow: hidden;
    vertical-align: top;
}

.bot-app__contributor img {
    width: 100%;
    height: 100%;
}

.bot-app__link {
    position: absolute;
    right: 30px;
    bottom: 30px;
    line-height: 1em;
    text-align: right;
    text-decoration: none;
    color: #626262;
}


















.integrations__block-dev {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    display: inline-block;
    background-color: #e96565;
    margin-right: 10px;
}

.integrations__block-link {
    font-size: 13px;
    line-height: 19px;
    color: #626262;
    float: right;
}

.integrations__read-guide {
    font-size: 19px;
    line-height: 20px;
    color: #2657aa;
    margin-top: 20px;
}

.codex-bot__text-block {
    text-align: center;
    max-width: 430px;
    margin: 65px auto;
    font-size: 17px;
}

.text-block__title {
    font-size: 21px;
    line-height: 25px;
}

.text-block__info {
    line-height: 25px;
    margin: 20px 0;
}

.text-block__link {
    text-decoration: none;
}

.codex-bot__links {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.codex-bot__links-item {
    font-size: 17px;
    line-height: 20px;
    text-decoration: none;
}

.codex-bot__links-delimeter {
    color: #0050ba;
    font-size: 17px;
    line-height: 32px;
    opacity: 0.5;
}


