/**
* Editor landing page
*/
body{
    background: #f0f3f9;
}
.site-header,
.site-footer{
    background: #fff;
    border-color: #e7e9f5;
}
.editor-landing{
    background: #fff;
    max-width: 940px;
    margin: 30px auto;
    padding-top: 60px;
    padding-bottom: 120px;
    min-height: 600px;
    border-radius: 3px;
    background: #fff;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    letter-spacing: .1px;
    font-size: 15px;
}
.editor-landing__title{
    margin-bottom: 0;
    padding: 30px 140px 8px;
    text-align: center;
    line-height: 1.2em;
    letter-spacing: .2px;
    font-size: 36px;
    color: #D8DADD;
    font-weight: 600;
}
.editor-landing__disclaimer{
    margin-bottom: 40px;
    letter-spacing: 3px;
    font-variant: small-caps;
    font-size: .9em;
    text-align: center;
    color: #C1C3C7;
}
.editor-landing__input-title{
    display: block;
    max-width: 600px;
    margin: 0 auto;
    background: none;
    padding: 0;
    font-size: 2.5em;
    line-height: 1.2em;
    letter-spacing: .2px;
    font-weight: 700;
    outline: none;
}
.editor-landing__input-title:focus{
    background: none;
}

.editor-landing__input-title:empty::before{
    content : attr(data-placeholder);
    color: #5B5F66;
    opacity: 1;
    transition: opacity 200ms ease;
}
.editor-landing__input-title:focus::before{
    opacity: .1;
}



/**
.editor-landing h2,
.editor-landing h3,
.editor-landing h4{
    line-height: 1.4em;
}
.editor-landing h3{
    margin: 1.3em 0 .5em;
    font-size: 1.3em;
}
.editor-landing h2{
    margin: 1.7em 0 1.3em;
    font-size: 1.7em;
}
.editor-landing h4{
    margin: 1.7em 0 1.3em;
    font-size: 1.1em;
}
.editor-landing ul,
.editor-landing ol{
    margin: 3em 0;
}
.editor-landing [data-type="link"]{
    margin: 45px auto;
}
    .editor-landing li{
        margin: 10px 0 !important;
        list-style-position: outside;
        line-height: 1.7em;
    }
.editor-landing code{
    padding: 5px 10px;
    font-size: .8em;
}
*/



/**
* Editor output JSON preview styles
*/
.editor-output-preview{
    background: #242835;
    padding: 50px 0;
    color: #6c7d98;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}
    .editor-output-preview pre{
        max-width: 700px;
        margin: 0 auto;
        overflow: auto;
        font-size: .86em;
    }
.editor-output--header{
    margin: 40px 0 30px;
    text-align: center;
    font-size: 33px;
    color: #fff;
    letter-spacing: .4px
}
.editor-output--description{
    font-size: 18px;
    text-align: center;
    margin-bottom: 50px;
}

.editor_output__buttons {
    text-align: center;
}
    .editor_output__buttons .button{
        margin-right: 20px;
        font-size: .9em;
    }

/**
* Advantages block
*/
.advantages{
    background: #13151f;
    color: #fff;
}
.advantages__item{
    float: left;
    width: 33%;
    padding: 50px 0;
    text-align: center;
    font-size: 24px;
}

.site-footer{
    border-top: 0;
    margin-top: 0;
    background: #1a1c29;
    color: #50586d;
}
    .site-footer h5{
        color: #9da9cc;
    }
    .site-footer a{
        color: #6581c5;
    }
    .site-footer .desclimer{
        color: #535f7b;
    }


/**
* Code highlighting
*/
.sc_attr{
    color: #728cbd;
}
.sc_toolname{
    color: #83decb;
}
.sc_tag{
    color: #a9b6de;
}
.sc_key{
    color: #42cca1;
}

/**
* Mobile viewport styles
* =================================
*/
@media all and (max-width: 800px){

    .editor-landing__title{
        padding: 10px 0 0;
        font-size: 28px;
    }
    .editor-landing__input-title{
        margin: 0 20px;
    }
    .editor-landing__disclaimer{
        font-size: .8em;
    }

    .advantages__item{
        font-size: 16px;
    }

}