/**
 * Styles for the module Product Hunt Greeter
 *  ______________________________
 * |                          [x] |
 * | ( P ) Product Hunt           |
 * |                              |
 * |  Hello, hunters! ...         |
 * |______________________________|
 */
.greeter {
    position: fixed;
    right: 30px;
    bottom: 30px;
    width: 306px;
    padding: 20px;
    background: #17191F;
    font-size: 15px;
    color: #9096A6;
    letter-spacing: 0.62px;
    line-height: 22px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    visibility: hidden;
    opacity: 0;
    transform: scale(1.25) ;
    transition: transform 200ms cubic-bezier(.56,1.95,.85,.38), opacity 100ms ease;
    will-change: opacity, transform;
    z-index: 99;
}

.greeter--showed {
    opacity: 1;
    transform: none;
    visibility: visible;
}

.greeter__close {
    position: absolute;
    right: 13px;
    top: 13px;
    width: 26px;
    height: 26px;
    opacity: 0.3;
    cursor: pointer;
}

.greeter__close:hover {
    opacity: 1;
}

.greeter__close::before,
.greeter__close::after {
    position: absolute;
    content: '';
    height: 17px;
    width: 1px;
    background-color: #DFEAFF;
}

.greeter__close::before {
    transform: translate(13px, 5px) rotate(45deg);
}

.greeter__close::after {
    transform: translate(13px, 5px) rotate(-45deg);
}

.greeter__logo {
    width: 140px;
    height: 33px;
    background-image: url("data:image/svg+xml,%3Csvg width='140' height='33' viewBox='0 0 140 33' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath d='M32.749 16.374c0 9.044-7.331 16.375-16.375 16.375C7.331 32.749 0 25.418 0 16.374 0 7.331 7.331 0 16.374 0 25.418 0 32.75 7.331 32.75 16.374' fill='%23DA552F'/%3E%3Cpath d='M18.558 16.374h-4.64v-4.912h4.64a2.456 2.456 0 0 1 0 4.912m0-8.187h-7.915v16.374h3.275V19.65h4.64a5.731 5.731 0 1 0 0-11.462' fill='%23FFF'/%3E%3Cpath d='M49.95 14.373c0-.9-.692-1.447-1.591-1.447h-2.411v2.878h2.41c.9 0 1.593-.547 1.593-1.431zm-6.285 7.46V10.915h5.015c2.331 0 3.6 1.576 3.6 3.457 0 1.864-1.285 3.44-3.6 3.44h-2.732v4.02h-2.283zM53.67 21.832v-7.958h2.04v1.045c.563-.675 1.513-1.237 2.477-1.237v1.993a2.625 2.625 0 0 0-.563-.048c-.675 0-1.576.385-1.913.884v5.321H53.67zM65.055 17.749c0-1.206-.709-2.251-1.994-2.251-1.271 0-1.978 1.045-1.978 2.25 0 1.223.707 2.267 1.978 2.267 1.285 0 1.994-1.044 1.994-2.266m-6.094 0c0-2.203 1.543-4.067 4.1-4.067 2.572 0 4.116 1.864 4.116 4.067 0 2.202-1.544 4.083-4.116 4.083-2.557 0-4.1-1.88-4.1-4.083M74.046 19.131v-2.749c-.337-.514-1.077-.884-1.752-.884-1.173 0-1.977.916-1.977 2.25 0 1.351.804 2.267 1.977 2.267.675 0 1.415-.37 1.752-.884zm0 2.701v-1.19c-.61.772-1.446 1.19-2.395 1.19-1.945 0-3.44-1.479-3.44-4.083 0-2.524 1.463-4.067 3.44-4.067.916 0 1.784.385 2.395 1.189v-3.955h2.058v10.916h-2.058zM83.376 21.832V20.66a3.69 3.69 0 0 1-2.732 1.173c-1.704 0-2.508-.932-2.508-2.444v-5.514h2.04v4.71c0 1.078.564 1.431 1.432 1.431.788 0 1.415-.434 1.768-.884v-5.257h2.042v7.958h-2.042zM86.951 17.749c0-2.38 1.736-4.067 4.116-4.067 1.592 0 2.556.69 3.07 1.398l-1.334 1.254c-.37-.547-.933-.836-1.64-.836-1.238 0-2.106.9-2.106 2.25 0 1.351.868 2.267 2.107 2.267.706 0 1.27-.321 1.639-.852l1.335 1.254c-.515.708-1.48 1.415-3.071 1.415-2.38 0-4.116-1.688-4.116-4.083M95.893 19.694v-4.035h-1.285v-1.785h1.285v-2.122h2.042v2.122h1.575v1.785h-1.575v3.489c0 .498.257.867.707.867.305 0 .596-.112.707-.24l.435 1.559c-.305.273-.853.498-1.705.498-1.43 0-2.186-.74-2.186-2.138M112.588 21.832v-4.71h-5.064v4.71h-2.282V10.916h2.282v4.212h5.064v-4.212h2.299v10.916zM122.193 21.832V20.66a3.69 3.69 0 0 1-2.732 1.173c-1.705 0-2.508-.932-2.508-2.444v-5.514h2.04v4.71c0 1.078.563 1.431 1.431 1.431.788 0 1.415-.434 1.769-.884v-5.257h2.042v7.958h-2.042zM131.505 21.832v-4.887c0-1.077-.561-1.447-1.43-1.447-.804 0-1.414.45-1.769.9v5.434h-2.04v-7.958h2.04v.997c.499-.579 1.464-1.19 2.718-1.19 1.72 0 2.54.965 2.54 2.476v5.675h-2.059zM135.997 19.694v-4.035h-1.286v-1.785h1.286v-2.122h2.042v2.122h1.575v1.785h-1.575v3.489c0 .498.256.867.707.867.305 0 .595-.112.708-.24l.433 1.559c-.305.273-.852.498-1.704.498-1.431 0-2.186-.74-2.186-2.138' fill='%23DA552F'/%3E%3C/g%3E%3C/svg%3E");
    margin-bottom: 12px;
}

.greeter__text a {
    color: #05a5eb;
}

.greeter__text a:hover {
    color: #8fd7ff;
}