@font-face {
    font-family: 'codex_editor';
    src: url('fonts/codex_editor/codex-editor.eot?20895205');
    src: url('fonts/codex_editor/codex-editor.eot?20895205#iefix') format('embedded-opentype'),
    url('fonts/codex_editor/codex-editor.woff?20895205') format('woff'),
    url('fonts/codex_editor/codex-editor.ttf?20895205') format('truetype'),
    url('fonts/codex_editor/codex-editor.svg?20895205#codex_editor') format('svg');
    font-weight: normal;
    font-style: normal;
}
[class^="ce-icon-"]:before,
[class*="ce-icon-"]:before {
    font-family: "codex_editor";
    font-style: normal;
    font-weight: normal;
    speak: none;

    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    font-variant: normal;
    text-transform: none;

    line-height: 1em;

    /* Animation center compensation - margins should be symmetric */
    margin-left: .2em;

    -moz-osx-font-smoothing: grayscale;
}

.ce-icon-plus {
    display: inline-block;
    width: 12px;
    height: 12px;
    background: url('fonts/codex_editor/icon-plus.svg') no-repeat;
    position: absolute;
    top: 9px;
    left: 9px;
}
.ce-icon-instagram:before { content: '\e800'; } /* '' */
.ce-icon-picture:before { content: '\e801'; } /* '' */
.ce-icon-cog:before { content: '\e802'; } /* '' */
.ce-icon-link:before { content: '\e803'; } /* '' */
.ce-icon-unlink:before { content: '\e804'; } /* '' */
.ce-icon-code:before { content: '\e805'; } /* '' */
.ce-icon-quote:before { content: '\e806'; } /* '' */
.ce-icon-trash:before { content: '\e807'; } /* '' */
.ce-icon-down-big:before { content: '\e808'; } /* '' */
.ce-icon-up-big:before { content: '\e809'; } /* '' */
.ce-icon-header:before { content: '\e80a'; } /* '' */
.ce-icon-paragraph:before { content: '\e80b'; } /* '' */
.ce-icon-align-left:before { content: '\e80c'; } /* '' */
.ce-icon-align-center:before { content: '\e80d'; } /* '' */
.ce-icon-align-right:before { content: '\e80e'; } /* '' */
.ce-icon-font:before { content: '\e80f'; } /* '' */
.ce-icon-bold:before { content: '\e810'; } /* '' */
.ce-icon-medium:before { content: '\e811'; } /* '' */
.ce-icon-italic:before { content: '\e812'; } /* '' */
.ce-icon-list-bullet:before { content: '\e813'; } /* '' */
.ce-icon-list-numbered:before { content: '\e814'; } /* '' */
.ce-icon-strike:before { content: '\e815'; } /* '' */
.ce-icon-underline:before { content: '\e816'; } /* '' */
.ce-icon-table:before { content: '\e817'; } /* '' */
.ce-icon-ellipsis-vert:before { content: '\e818'; } /* '' */
.ce-icon-columns:before { content: '\e819'; } /* '' */
.ce-icon-smile:before { content: '\e81a'; } /* '' */
.ce-icon-newspaper:before { content: '\e81b'; } /* '' */
.ce-icon-twitter:before { content: '\e81c'; } /* '' */
.ce-icon-facebook-squared:before { content: '\e81d'; } /* '' */
.ce-icon-vkontakte:before { content: '\e81e'; } /* '' */



/* EDITOR */

.ce_wrapper {
    position: relative;
    padding: 30px 0;
}

.ce_redactor {
    position: relative;
    outline: none;
    padding: 1px 0;
    padding-bottom: 120px;
    min-height: 350px;
}

.ce_toolbar{
    display: none;
    position: absolute;
    z-index: 2;
    width: 100%;
    margin-top: 3px;

}
    .ce_toolbar_tools--title {
        text-transform: capitalize;
        vertical-align: middle;
    }
    .ce_redactor_tools i {
        vertical-align: middle;
        margin-right: .2em;
    }

    .ce_toolbar.opened{
        display: block;

       /*animation-name: bounceIn; animation-duration: 200ms; animation-iteration-count: 1;*/
    }


    .ce_toolbar .trash-toggler{
        cursor: pointer;
        padding: 6px 7px 6px 8px;
        border-radius: 3px;
    }

    .ce_toolbar .trash-toggler {
        cursor: pointer;
    }

    .ce_toolbar .toggler,
    .ce_toolbar .trash-toggler,
    .ce_toolbar li
    {
        display: inline-block;
        margin: 0 !important;
        cursor: pointer;
        font-size: 13px;
        letter-spacing: .1px;
        vertical-align: middle;
    }

    .ce_toolbar li {
        padding: 12px 9px;
    }

        .ce_toolbar .selected,
        .ce_toolbar .toggler:hover,
        .ce_toolbar li:hover
        {
            background: #ffffff;
            color: #030304;
        }
        .ce_toolbar .trash-toggler:hover {
            color: #ff5c59;
        }
        .trash-active {
            background: #FF5959 !important;
            color: #fff !important;
        }
        .trash-active:hover {
            background: #E22C2C !important;
        }
        .removing-request {
            opacity: .1;
        }
        .ce_toolbar .remove_btn {
            font-size: 1.1em;
        }

        .ce_toolbar .settings_btn {
            font-size: 1.1em;
        }



/**
* Toolbar blocks colors
*/
.ce_redactor_plusButton,
.ce_block_blockButtons,
.ce_redactor_tools,
.ce_block_settings{
    /*background: #fff;*/
    /*border: 1px solid rgba(13, 17, 47, 0.06);*/
    color: #16171d;
}


/** Plus button */
.ce_redactor_plusButton {
    /*display: none;*/
    position: absolute;
    left: 130px;
    bottom: 5px;

    text-align: center;
    line-height: 32px;

    width: 32px;
    height: 32px;

    border-radius: 50%;
    /*background-image: url('fonts/codex_editor/icon-plus.svg');;*/

    z-index: 2;

    transition: transform 80ms linear;
}

/*    .ce_redactor_plusButton--clicked {
        transform: rotate(45deg);
    }
*/
/** First-level block buttons */
.ce_block_blockButtons {

    position: absolute;
    right: 128px;
    bottom: 5px;
    border-radius: 50px;

    z-index: 2;
}

/** Tools */
.ce_redactor_tools {
    /*display: none;*/
    border-radius: 0 0 3px 3px;
}

    .ce_redactor_tools li {
        line-height: 1em;
        padding: 15px 10px;
        margin: 1px 0 !important;
    }

    /*.ce_redactor_tools.opened {
        display: block;
    }*/

/** Block settings panel */
.ce_block_settings {
    padding: 15px 25px;
    overflow: hidden;
    border-radius: 3px 3px 0 0;
    font-size: 13.4px;
    /*display: none;*/
}
    .ce_block_settings.empty{
        display: none;
    }
    /* .ce_block_settings.opened{
        display: block;
    }*/
.ce_redactor_tools,
.ce_block_settings{
    position: relative;
    max-width: 700px;
    margin-left: 119px;
    text-align: center;
}

/** Typography styles */


.ce_redactor p{
    padding: 5px 0;
    font-size: 1em;
    line-height: 1.7em;
    margin: 1px 0;
}
.ce_redactor ul,
.ce_redactor ol{
    list-style-position: inside;
}
.ce_redactor li{
    margin: 5px 0;
}



.ce_redactor .ce_block{
    outline: none;
}

    .ce_redactor .ce_block:focus{
        background: #fbfbfb;
        border-radius: 3px;
    }

/*
}

@-moz-keyframes bounceIn {
    0% {opacity: 0;-moz-transform: scale(.3);}
    50% {opacity: 1;-moz-transform: scale(1.05);}
    70% {-moz-transform: scale(.9);}
    100% {-moz-transform: scale(1);}
}
@-o-keyframes bounceIn {
    0% {opacity: 0;-o-transform: scale(.3);}
    50% {opacity: 1;-o-transform: scale(1.05);}
    70% {-o-transform: scale(.9);}
    100% {-o-transform: scale(1);}
}
@keyframes bounceIn {
    0% {opacity: 0;transform: scale(.3);}
    50% {opacity: 1;transform: scale(1.07);}
    70% {transform: scale(.9);}
    100% {transform: scale(1);}
}

.bounceIn {
    -moz-animation-name: bounceIn; -moz-animation-duration: 600ms; -moz-animation-iteration-count: 1;
    -o-animation-name: bounceIn; -o-animation-duration: 600ms; -o-animation-iteration-count: 1;
    animation-name: bounceIn; animation-duration: 600ms; animation-iteration-count: 1;
}
*/

/** Alerts */
.ce_notifications-block {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}
    .ce_notification-item {
        padding: 15px 25px;
        font-size: 14px;
        text-align: center;
        animation-duration: 1s;
        animation-iteration-count: 1;
        animation-fill-mode: both;
    }

    .ce_notification-error {
        background: #e5f3ed;
        color: #55818c;
    }

    @keyframes flipInX {
      from {
        transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
        animation-timing-function: ease-in;
        opacity: 0;
      }

      40% {
        transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
        animation-timing-function: ease-in;
      }

      60% {
        transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
        opacity: 1;
      }

      80% {
        transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
      }

      to {
        transform: perspective(400px);
      }
    }

    .flipInX {
      backface-visibility: visible !important;
      animation-name: flipInX;
    }


/**
* Plugin overrides
*/
.ce_redactor .ce-paragraph,
.ce_redactor .ce-header {
    background: #fff;
    border-radius: 3px;
    padding: 11px 18px !important;
}

.ce_redactor .ce-paragraph{
    margin-top: 2px;
    margin-bottom: 2px;
}
.ce_redactor .ce-code{
    max-width: 664px;
}




/**
* Base block highlighted
*/
.ce-block__highlighted {
    /*background: #eaecf7;*/
}
.ce-block__highlighted .ce-paragraph,
.ce-block__highlighted .ce-header,
.ce-block__highlighted .ce-code,
.ce-block__highlighted .ce-quote,
.ce_redactor_plusButton,
.ce_block_blockButtons,
.ce_redactor_tools,
.ce_block_settings{
    background: #eff3f9;
    /*box-shadow: inset 0 0 0 1px rgba(146, 165, 226, 0.3);*/
    /*box-shadow: 0 0 10px -3px rgba(113, 163, 255, 0.68), inset 0 0 0 1px rgba(146, 165, 226, 0.3);*/
}

