/**
 * Article card item
 *      where:
 *          on index page at recent articles
 */
.article-card {
    position: relative;
    padding: 20px 20px 75px;
    border: 1px solid var(--line-light);
    border-radius: 3px;
    font-size: 12.4px;

    a {
        text-decoration: none;
        color: inherit;
    }

    &__footer {
        position: absolute;
        bottom: 20px;
        left: 20px;
        right: 20px;
        height: 34px;
        line-height: 1.54em;
    }

    &__cover {
        display: block;
        background-color: var(--bg-light);
        height: 100px;
        margin: -21px -21px 20px;
        border-radius: 3px 3px 0 0;
        background-position: 0 30%;
        background-size: cover;
    }

    &__title {
        margin-bottom: 15px;
        font-size: 17.9px;
        font-weight: bold;
        line-height: 1.2em;
        font-family: var(--serif-font);
    }

    &__photo {
        float: left;
        margin-right: 10px;

        img {
            display: block;
            width: 34px;
            height: 34px;
            border-radius: 50%;

            @apply --image-placeholder;
        }
    }

    &__user-name {

    }

    &__read-time {
        color: var(--text-gray);
        line-height: 1.1em;
    }
}

@media (--desktop) {
    .articles-grid__item .article-card {
        width: 100%;
    }
}
