/**
* Best developers block
*/
.best-developers {
    position: absolute;
    right: 30px;
    top: 90px;
    width: 170px;
    text-align: left;
    font-size: 13px;

    &__heading {
        max-width: 120px;
        border-bottom: 1px solid #e8e6e3;
        padding-bottom: 0.5em;
        font-weight: normal;
        line-height: 1.2em;
        font-size: 15px;
        color: #d95509;
    }

    &__heading::before {
        content: url(/public/app/img/podium.svg);
        display: block;
        text-align: center;
        margin-bottom: 5px;
    }

    &__item {
        position: relative;
        display: block;
        padding-left: 30px;
        margin-bottom: 10px;
        color: #595959;
        text-decoration: none;
        cursor: pointer;
        font-size: 13.6px;
        line-height: 1.4em;
    }

    &__photo {
        position: absolute;
        left: 0;
        top: 50%;
        margin-top: -12px;
        width: 24px;
        height: 24px;
        border-radius: 18px;
    }
}

@media (--mobile) {
    .best-developers {
        position: static;
        width: auto;
        max-width: 300px;
        margin: 50px auto 0;
        text-align: center;

        &__heading {
            margin-left: auto;
            margin-right: auto;
        }

        &__item {
            line-height: 1.8em;
            padding-left: 0;
        }

        &__photo {
            position: static;
            vertical-align: text-bottom;
            width: 24px;
            height: 24px;
        }
    }
}
