/**
* Best developers block
*/
.best-developers {
    position: absolute;
    right: 30px;
    top: 90px;
    width: 150px;
    text-align: left;
    font-size: 13px;

    &__heading {
        max-width: 120px;
        border-bottom: 1px solid #e8e6e3;
        padding-bottom: 0.5em;
        font-weight: normal;
        line-height: 1.2em;
        font-size: 1em;
        color: #ac7c0d;
    }

    &__item {
        position: relative;
        display: block;
        padding-left: 50px;
        margin-bottom: 10px;
        color: inherit;
        text-decoration: none;
        cursor: pointer;
        line-height: 1.4em;
    }

    &__photo {
        position: absolute;
        left: 0;
        top: 50%;
        margin-top: -17px;
        width: 34px;
        height: 34px;
        border-radius: 18px;
    }
}

@media all and (--mobile) {
    .best-developers {
        position: static;
        width: auto;
        max-width: 300px;
        margin: 50px auto 0;
        text-align: center;

        &__heading {
            max-width: none;
        }

        &__item {
            line-height: 1.8em;
            padding-left: 0;
        }

        &__photo {
            position: static;
            vertical-align: text-bottom;
            width: 24px;
            height: 24px;
        }
    }
}
