/**
* Styles for article writing
*/
.editor-form {
    margin: 30px;
    padding: 120px 0;
    min-height: 600px;
    letter-spacing: 0.1px;

    &__title {
        font-size: 26px;
        background: transparent;
    }

    &__section {
        max-width: 600px;
        margin: 0 auto 2em;
    }

    label {
        display: block;
        margin-bottom: 1em;
    }
}
