/**
* Page header block
* with description and follow-us block
*/
.page-header {
    padding: 60px 0;
}

.page-header__title {
    font-size: 1.68em;
    line-height: 1.2em;
    letter-spacing: 0.2px;
}

.page-header__description {
    max-width: 500px;
}

/**
* Follow-us block
* uses on articles and contests lists
*/
.follow-us {
    max-width: 400px;
    margin: 100px auto 0;

    &::before {
        display: block;
        width: 26px;
        height: 26px;
        content: '';
        background: url('/public/app/img/logo160.png');
        background-size: cover;
        border: 5px solid #eaf2f7;
        background-color: #eaf2f7;
        border-radius: 50%;
        float: left;
    }

    &__contents {
        position: relative;
        max-width: 290px;
        border-radius: 9.5px;
        border-top-left-radius: 0;
        border: 1px solid #d7e3ec;
        padding: 13px 18px;
        margin-left: 45px;

        &:before, &:after {
            position: absolute;
            content: '';
            height: 0;
            width: 0;
            right: 100%;
            top: 7px;
            border: solid transparent;
            margin-top: -7px;
        }

        &:before {
            border-width: 0 8px 8px 0;
            border-right-color: #fff;
            margin-top: -7px;
        }

        &:after {
            z-index: -1;
            border-right-color: #d7e3ec;
            border-width: 0 10px 10px 0;
            margin-top: -8px;
        }
    }

    &__title {
        font-size: 15px;
        line-height: 20px;
        font-weight: bold;
        margin-bottom: 5px;
        margin-top: 0;
    }

    &__desc {
        line-height: 21px;
        font-size: 14px;
    }

    &__button {
        display: block;
        max-width: 167px;
        background: #5ca9e6;
        border-radius: 20.5px;
        font-size: 15px;
        line-height: 18px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        color: #000;
        margin-top: 11px;
        margin-left: 45px;
        padding: 8px 28px 8px 12px;

        &:hover {
            color: #fff;
        }

        img {
            display: inline-block;
            vertical-align: middle;
            margin-right: 5px;
            margin-top: -1px;
        }
    }
}

/**
* Telegram icon
* uses in follow-us offer block
*/
.icon_telegram {
    display: inline-block;
    width: 28px;
    height: 28px;
    background: url('/public/app/img/icon_telegram.png') no-repeat;
}

/**
* Mobile viewport styles
* =================================
*/
@media (--mobile) {
    /**
    * Follow us mobile
    */
    .follow-us {
        width: auto;
        float: none;
        margin: 0 auto;

        &__title {
            font-size: 14px;
        }

        &__desc {
            font-size: 13px;
        }

        &__button {
            margin-left: auto;
            margin-right: auto;
        }
    }
}

@media print, (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 1.25dppx), (min-resolution: 120dpi) {
    .icon_telegram {
        background: url('/public/app/img/icon_telegram@2x.png') no-repeat;
        background-size: 28px 28px;
    }
}
