/**
 * Products grid
 */
.products-grid {
    @supports (display: grid) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-auto-flow: row;
        grid-auto-rows: 1fr;
        grid-gap: 30px;

        &__item {
            margin: 0 !important;
        }

        @media (--mobile) {
            grid-template-columns: 1fr;
            grid-auto-rows: auto;
        }
    }
}

/**
 * Product cell block
 */
.product-cell {
    position: relative;
    border: 1px solid var(--line-light);
    padding: 30px 30px 102px;
    border-radius: 2px;
    color: var(--text-gray);
    font-size: 15px;
    margin-bottom: 30px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    @media (--mobile) {
        margin-bottom: 20px;
        padding: 20px;
    }

    &__name {
        display: block;
        font-size: 21px;
        font-weight: 500;
        margin: 0;
        color: #000;
        letter-spacing: -0.17px;
    }

    &__logo {
        float: right;
        margin-left: 30px;
    }

    &__desc {
        margin-top: 13px;
        line-height: 1.6em;
    }

    &__tags {
        position: absolute;
        bottom: 62px;

        @media (--mobile) {
            margin-top: 15px;
            position: static;
        }
    }

    &__repo {
        position: absolute;
        bottom: 25px;
        display: inline-block;
        margin-top: 15px;
        color: inherit;
        font-size: 13px;

        @media (--mobile) {
            position: static;
        }
    }

    &__tag {
        display: inline-block;
        margin-right: 5px;
        padding: 4px 8px;
        border: 1px solid #efc8db;
        font-size: 14.3px;
        line-height: 1em;
        color: #995175;
        border-radius: 3px;

        @media (--mobile) {
            margin-top: 5px;
        }

        svg {
            margin-right: 0.12em;
            vertical-align: text-bottom;
        }

        /** Available in PyPI */
        &--pypi {
            border-color: #adcbe3;
            color: #3573a7;

            &:hover {
                color: color(#3573a7 blackness(+20%));
            }
        }

        /** Available in NPM */
        &--npm {
            border-color: #f9b7b7;
            color: #b72b2a;

            &:hover {
                color: color(#b72b2a blackness(+20%));
            }

            svg {
                vertical-align: middle;
            }
        }

        /** Available in Composer */
        &--composer {
            border-color: #d0cdc8;
            color: #6d6d6d;

            &:hover {
                color: color(#6d6d6d blackness(+20%));
            }

        }
    }
}
