/**
 * Product cards
 */
.product-card {
    border-radius: 5px;
    padding: 30px;
    margin-bottom: 30px;
    position: relative;
    box-sizing: border-box;
    border: 1px solid var(--line-light);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    @media (--desktop) {
        min-height: 415px;
        padding: 60px;
        margin-bottom: 60px;
    }

    @supports (display: grid) {
        display: grid;
        grid-template-columns: auto 360px;
        grid-template-rows: 60px auto 100px;
        grid-template-areas:
            "title-area right-area"
            "content-area right-area"
            "footer-area right-area";

        @media (--mobile) {
            grid-template-columns: auto;
            grid-template-rows: auto auto auto auto;
            grid-template-areas:
                "title-area"
                "content-area"
                "right-area"
                "footer-area";
        }
    }

    &__title {
        display: block;
        margin-bottom: 20.3px;
        font-size: 43px;
        letter-spacing: -0.36px;
        font-weight: bold;
        line-height: 1em;
        color: inherit;

        &:hover {
            color: inherit;
        }

        @media (--mobile) {
            font-size: 32px;
        }
    }

    &__caption {
        max-width: 450px;
        margin-bottom: 30px;
        font-size: 20px;
        color: #626262;
        line-height: 1.5em;
    }

    &__screen {
        display: block;
        width: 360px;
        box-shadow: 0 22px 31px 0 rgba(0, 0, 0, 0.63);
        border-radius: 5px;

        @media (--mobile) {
            max-width: 100%;
            height: auto;
        }
    }

    &__repo {
        display: inline-block;
        margin-top: 30px;
        color: #626262;
    }

    &__button {
        display: inline-block;
        padding: 12px 26px 12px 18px;
        margin-top: 30px;
        background: #fff;
        border: 1px solid var(--line-light);
        box-shadow: 0 2px 3px 0 rgba(38, 45, 67, 0.02);
        border-radius: 3px;
        color: inherit;
        color: #000;
        font-size: 18px;
        letter-spacing: -0.3px;
        text-decoration: none;

        &:not(:last-of-type){
            margin-right: 20px;
        }

        svg {
            display: inline-block;
            width: 26px;
            height: 26px;
            vertical-align: middle;
            margin-right: 0.5em;
            margin-top: -0.3em;
        }

        &:hover {
            background-color: #fdfdfd;
            color: initial;
            text-decoration: none;
        }

        @media (--mobile) {
            padding: 6px 15px 6px 13px;
            margin: 20px 20px 0 0;
            font-size: 14px;

            svg {
                width: 20px;
                height: 20px;
            }
        }
    }

    &__right-heading {
        margin: 0 0 20px;
        font-size: 22px;
        font-weight: normal;
    }

    &__application {
        display: inline-block;
        margin-bottom: 15px;
        width: 40px;
        height: 40px;

        svg {
            width: 40px;
            height: 40px;
        }

        &:not(:last-of-type) {
            margin-right: 10px;
        }
    }

    &__right-link {
        margin-top: 7px;
        display: inline-block;
        color: #8c8888;
        line-height: 1.5em;
    }

    &__actions {
        margin-top: 40px;
    }

    /**
     * «Loved by» block
     */
    &__loved-by {
        margin-top: 45px;

        &-title {
            font-size: 18px;
            font-weight: normal;
            margin-bottom: 10px;
        }

        &-item {
            display: inline-block;
            vertical-align: top;
            padding: 10px 25px 10px 0;
            height: 27px;

            &:not(:last-of-type) {
                border-right: 1px solid var(--line-light);
            }

            &:not(:first-of-type) {
                padding-left: 23px;
            }

            @media (--mobile) {
                padding: 5px 10px 5px 0;

                &:not(:first-of-type) {
                    padding-left: 10px;
                }
            }
        }
    }

    /**
     * Download button
     */
    &__download {
        position: relative;
        display: inline-block;
        min-width: 150px;
        padding: 10px 20px;
        margin: 0 20px 20px 0;
        border: 1px solid color(var(--line-light) blackness(+7%));
        border-radius: 3px;
        font-size: 13.1px;
        line-height: 1.5em;
        color: #25262e;

        &[href="#"] {
            color: #9699a8;

            &::after {
                content: 'Soon';
                background: #ff1769;
                border-radius: 3px;
                padding: 3px 6px;
                line-height: 1em;
                color: #fff;
                font-weight: 500;
                position: absolute;
                right: 5px;
                top: 5px;
                letter-spacing: -0.5px;
            }

            svg {
                opacity: 0.5;
            }

            &:hover {
                color: #9699a8 !important;
            }
        }

        &:hover {
            color: #25262e;
        }

        b {
            display: block;
            font-size: 16px;
            font-weight: 500;
        }

        svg {
            float: left;
            margin-top: 5px;
            margin-right: 15px;
        }

        &--win svg {
            margin-top: 7px;
        }

        &--linux svg {
            margin-top: 8px;
        }

        &--appstore {
            background-color: #0c0c0c;
            border: 0;
            color: #fff;

            svg {
                fill: #fff !important;
            }

            &:hover {
                color: #fff;
            }
        }
    }

    &__advantages {
        margin: 30px 0 0;
        padding: 0;
        list-style: none;
        line-height: 1.8em;
    }

    &__disclaimer {
        margin-top: 20px;
        font-size: 15px;
        line-height: 1.53em;
    }

    &__video {
        max-width: 100%;
        margin-left: -55px;

        @media (--mobile) {
            margin-left: 0;
        }
    }

    &__right-caption {
        margin-top: 10px;

        a {
            color: var(--text-gray);

            &:hover {
                color: var(--color-hover);
            }
        }
    }

    /**
     * Right column menu
     * for example: codex editor plugins list
     */
    &__right-menu {
        margin: 10px 0;

        a {
            color: var(--color-link);
            font-size: 15px;

            &:not(:last-of-type)::after {
                content: '';
                display: inline-block;
                vertical-align: middle;
                width: 4px;
                height: 4px;
                border-radius: 50%;
                background: var(--text-gray);
                margin: 0 0.25em 0 0.45em;
                opacity: 0.8;
            }
        }
    }

    /**
     * Improvements for devices that supports grid layout
     */
    @supports (display: grid) {
        &__caption {
            grid-area: content-area;
        }

        &__right {
            grid-area: right-area;
        }

        &__repo {
            grid-area: footer-area;
            align-self: end;
        }
    }

    /**
     * Hawk.so
     * ==================================
     */
    &--hawk {
        background-image: linear-gradient(176deg, #2e2e3c 0%, #262633 99%, #252533 100%);
        border: 0;

        ^&__title {
            color: #fff;

            img {
                width: 44px;
                vertical-align: text-bottom;
                margin-right: 13px;
                margin-top: -1px;

                @media (--mobile) {
                    width: 34px;
                }
            }
        }

        ^&__caption,
        ^&__screen {
            color: #a4b1d0;
        }

        ^&__repo {
            color: #878ca0;

            &:hover {
                color: #fff;
            }
        }

        ^&__caption {
            padding-top: 10px;
        }

        ^&__screen {
            background-color: #2a2835;
        }
    }

    /**
     * CodeX Notes
     * ==================================
     */
    &--notes{
        background-image: linear-gradient(9deg, #f4f5fb 0%, #f9fafb 99%);
        border: 0;

        ^&__caption {
            margin-bottom: 10px;
        }
    }

    /**
     * CodeX Media
     * ==================================
     */
    &--media {
        background-color: #0b0b0b;
        border: 0;

        @supports (display: grid) {
            grid-template-rows: 130px auto 100px;

            @media (--mobile) {
                grid-template-rows: auto;
            }
        }

        ^&__title {
            font-size: 70px;
            font-weight: 500;
            max-width: 200px;
            color: #fff;
        }

        ^&__caption {
            margin: 30px 0;
            color: #757575;
            font-weight: 300;
            font-size: 25px;
        }

        ^&__advantages {
            color: #fff;
            font-weight: normal;
            font-size: 15px;
        }

        ^&__repo {
            &:hover {
                color: #fff;
            }
        }
    }


    /**
     * CodeX Media
     * ==================================
     */
    &--ar-tester {
        background-image: url('/public/app/img/products/ar-tester-bg.jpg'), linear-gradient(69deg, #f575a0 8%, #187cb8 100%);
        background-size: cover, auto;
        border: 0;

         @supports (display: grid) {
            grid-template-columns: auto 300px;

            @media (--mobile) {
                grid-template-columns: auto;
            }
        }

        ^&__title,
        ^&__caption,
        ^&__disclaimer,
        ^&__repo {
            color: #fff;
        }

        ^&__caption {
            margin-top: 20px;
            font-size: 24px;
            font-weight: 300;
            line-height: 1.36em;
        }

        ^&__disclaimer {
            font-weight: normal;
        }

        ^&__title {
            font-size: 53px;
        }

        ^&__screen {
            box-shadow: none;
            width: 256px;
            margin-top: 20px;
        }

        ^&__download {
            padding: 17px 30px 21px;
            font-size: 14px;
            border-radius: 8px;
            min-width: 170px;

            svg {
                margin-right: 20px;
            }

            b {
                font-size: 26px;
                font-weight: normal;
            }
        }

        ^&__repo {
            opacity: 0.5;

            &:hover {
                opacity: 1;
            }
        }

    }
}
