/**
 * Product cards
 */
.product-card {
    border-radius: 5px;
    padding: 30px;
    margin-bottom: 30px;
    position: relative;
    box-sizing: border-box;
    border: 1px solid var(--line-light);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    @media (--desktop) {
        min-height: 415px;
        padding: 50px;
        margin-bottom: 60px;
    }

    @supports (display: grid) {
        display: grid;
        grid-template-columns: auto 360px;
        grid-template-rows: 60px auto 100px;
        grid-template-areas:
            "title-area right-area"
            "content-area right-area"
            "footer-area right-area";

        @media (--mobile) {
            grid-template-columns: auto;
            grid-template-rows: auto auto auto auto;
            grid-template-areas:
                "title-area"
                "content-area"
                "right-area"
                "footer-area";
        }
    }

    &__title {
        display: block;
        margin-bottom: 20.3px;
        font-size: 43px;
        letter-spacing: -0.36px;
        font-weight: bold;
        line-height: 1em;
        color: inherit;

        &:hover {
            color: inherit;
        }

        @media (--mobile) {
            font-size: 32px;
        }
    }

    &__caption {
        margin-bottom: 30px;
        font-size: 20px;
        color: #626262;
        line-height: 1.4em;
    }

    &__screen {
        display: block;
        width: 360px;
        height: 310px;
        box-shadow: 0 22px 31px 0 rgba(0, 0, 0, 0.63);
        border-radius: 5px;

        @media (--mobile) {
            max-width: 100%;
            height: auto;
        }
    }

    &__repo {
        display: inline-block;
        margin-top: 30px;
        color: #626262;
    }

    &__button {
        display: inline-block;
        padding: 10px 26px 10px 18px;
        margin: 30px 30px 0 0;
        background: #fff;
        border: 1px solid var(--line-light);
        box-shadow: 0 2px 3px 0 rgba(38, 45, 67, 0.02);
        border-radius: 3px;
        color: inherit;
        color: #000;
        font-size: 17px;
        letter-spacing: -0.3px;
        text-decoration: none;

        svg {
            display: inline-block;
            width: 26px;
            height: 26px;
            vertical-align: middle;
            margin-right: 0.5em;
            margin-top: -0.3em;
        }

        &:hover {
            background-color: #fdfdfd;
            color: initial;
            text-decoration: none;
        }

        @media (--mobile) {
            padding: 6px 15px 6px 13px;
            margin: 20px 20px 0 0;
            font-size: 14px;

            svg {
                width: 20px;
                height: 20px;
            }
        }
    }

    &__right-heading {
        margin: 0 0 20px;
        font-size: 22px;
        font-weight: normal;
    }

    &__application {
        display: inline-block;
        margin-bottom: 15px;
        width: 40px;
        height: 40px;

        svg {
            width: 40px;
            height: 40px;
        }

        &:not(:last-of-type) {
            margin-right: 10px;
        }
    }

    &__right-link {
        margin-top: 7px;
        display: inline-block;
        color: #8c8888;
        line-height: 1.5em;
    }

    /**
     * Improvements for devices that supports grid layout
     */
    @supports (display: grid) {
        &__caption {
            grid-area: content-area;
        }

        &__right {
            grid-area: right-area;
        }

        &__repo {
            grid-area: footer-area;
            align-self: end;
        }
    }

    /**
     * Hawk.so
     * ==================================
     */
    &--hawk {
        background-image: linear-gradient(176deg, #2e2e3c 0%, #262633 99%, #252533 100%);
        border: 0;

        ^&__title {
            color: #fff;

            img {
                width: 44px;
                vertical-align: text-bottom;
                margin-right: 13px;
                margin-top: -1px;

                @media (--mobile) {
                    width: 34px;
                }
            }
        }

        ^&__caption,
        ^&__screen {
            color: #a4b1d0;
        }

        ^&__repo {
            color: #878ca0;

            &:hover {
                color: #fff;
            }
        }

        ^&__caption {
            max-width: 450px;
            padding-top: 10px;
        }

        ^&__screen {
            background-color: #2a2835;
        }
    }
}
