/**
 * Site section with title, description and content
 */
.site-section {
    margin: 60px 0 90px;
    font-size: 15.9px;
    line-height: 1.6em;

    &__title {
        font-size: 1.315em;
        margin-bottom: 0.5em;
        font-weight: normal;
        text-align: center;
        letter-spacing: 0.026em;
    }

    &__desc {
        max-width: 400px;
        margin: 0 auto 40px;
        text-align: center;
    }

    &__go-more-link {
        margin: 30px auto 0;
        display: block;
        max-width: 200px;
        text-align: center;
        text-decoration: none;
    }

    &--articles-list {
        margin: 50px 0 40px;

        .site-section__desc {
            max-width: 300px;
        }
    }
}

/**
* Mobile viewport styles
* =================================
*/
@media (--mobile) {
    .site-section {
        &--articles-list {
            margin-top: 0;
        }
    }
}
