.video-overlay {
    background: #000;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;

    opacity: 0;
    transition: opacity 200ms ease-in;
    will-change: opacity;

    &--showed {
        opacity: 1;
    }


    video {
        max-height: 100%;
        max-width: 100%;
        opacity: 0.1;
        transition: opacity 200ms ease-in;
        will-change: opacity;
    }

    &--loaded {
        video {
            opacity: 1;
        }
    }

    &__close {
        display: inline-block;
        position: absolute;
        right: 20px;
        top: 20px;
        cursor: pointer;
        opacity: 0.8;
        width: 25px;
        height: 25px;
        background: rgba(0,0,0, 0.8);
        padding: 5px;
        border-radius: 50%;

        &:hover {
            opacity: 1;
        }

        &::before,
        &::after {
            content: '';
            width: 2px;
            height: 25px;
            background: #fff;
            border-radius: 2px;
            display: block;
            position: absolute;
            left: 49%;
            top: 5px;
        }

        &::before {
            transform: rotate(45deg);
        }

        &::after {
            transform: rotate(-45deg);
        }

    }

}
