.vk_groups {
    max-width: 650px;
    margin: 0 auto;
    margin-top: 50px;
}
/**
* Mobile viewport styles
* =================================
*/
@media (--mobile) {
    .vk_groups {
        max-width: none;
        width: 100%;
    }
}