/**
* Admin pages styles
*/

.full-width-notifier {
    text-align: center;
    padding: 20px 0;
    background-color: #ecf3f9;
    color: #3f4b63;
}

.no_data {
    text-align: center;
    padding: 150px 0;
}

.top-menu {
    width: 100%;
    margin: 10px 0;
    font-size: 15px;
}

.top-menu__link {
    float: right;
}

.top-menu__saved {
    float: right;
    color: #ccc;
}

.top-menu__saved_hidden {
    visibility: hidden;
}

.p_table {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
}
.p_table td {
    padding: 15px;
    word-wrap: break-word;
    max-width: 300px;
}

.p_table tr{
  border-bottom: 1px solid #eff1f5;

  &:last-child {
      border-bottom: none;
  }
}



.p_table__section td {
    font-size: 44px;
    color: #e4e6eb;
    padding: 40px 0;
    font-weight: bold;
}


.p_table .id {
    width: 20px;
    color: #ccc;
    font-size: 13px;
}

.p_table .name {
    color: inherit;
    font-weight: bold;
    text-decoration: none;
}

.p_table .nick {
    font-size: 13px;
}

.p_table .counter {
    font-size: 13px;
    color: #8c929e;
    text-align: center;
    line-height: 1em;
}

.p_table .counter b {
    display: block;
    font-size: 0.9em;
    line-height: 1.4em;
}

.p_table .check {
    font-size: 13px;
    color: #8c929e;
    text-align: center;
    line-height: 1em;
}

.p_table .check b {
    display: block;
    line-height: 1.4em;
}

.p_table .check input {
    width: 0.9em;
    height: 0.9em;
}

.list_user_ava {
    position: relative;
    display: inline-block;
    border: 1px solid #e8ebf4;
    border-radius: 20px;
    overflow: hidden;
    font-size: 20px;
    text-align: center;
    vertical-align: middle;
}

.list_user_ava,
.list_user_ava > img {
    width: 40px;
    height: 40px;
}

.list_user_ava .numb {
    display: inline-block;
    padding-top: 7px;
    color: #99abbb;
    font-weight: bold;
}

.list_user_name {
    font-weight: bold;
}

.list_user_vk_name i {
    margin-right: 5px;
}

.p_table .checker {
    position: absolute;
    right: -7px;
    bottom: 0;
    width: 22px;
    height: 22px;
    background: #6579ad;
    color: #fff;
    border-radius: 20px;
    font-size: 14px;
    cursor: pointer;
    display: none;
}

.p_table td:hover .checker {
    display: block;
}

.p_table .checker.checked {
    display: block;
    background: #26af89;
}

.p_table .checker i {
    margin: 1px;
    line-height: 1.7em;
}
