/**
 * Article cards grid
 */
.articles-grid {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin: -10px;

    @media (max-width: 850px) {
        flex-direction: column;
    }

    &__item {
        width: 33.33%;
        padding: 10px;
        display: flex;

        @media (max-width: 850px) {
            width: auto;
            display: block;
        }
    }
}

/**
* Blogs feed
*/
.feed {
    max-width: 540px;
    margin: 0 auto;
}

.feed-item {
    font-size: 15px;
    box-sizing: border-box;
    word-wrap: break-word;
    margin-bottom: 50px;

    @media (--mobile) {
        display: flex;
        flex-direction: column;
    }

    &__info {
        color: #6E7990;
        font-size: 13px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-top: 14px;
        order: 4;
    }

    &__time {
        margin-right: 11px;
    }

    &__author-photo {
        display: inline-block;
        width: 17px;
        height: 17px;
        vertical-align: middle;
        border-radius: 50%;
        margin: -2px -2px 0 0;
        border: 3px solid #fff;
        overflow: hidden;

        img {
            width: inherit;
            height: auto;
        }

        &:nth-of-type(2){
            margin-left: -10px;

            img {
                box-shadow: 0 0 0 3px #fff;
            }
        }
    }

    &__author-name {
        color: inherit;
    }

    &__title {
        font-size: 20px;
        line-height: 1.3em;
        font-family: var(--serif-font);
        font-weight: bold;
        text-decoration: none;
        letter-spacing: -0.75px;
        color: inherit;
    }

    &__description {
        margin-top: 7px;
        font-size: 14.4px;
        letter-spacing: 0.2px;
        line-height: 1.55em;
    }

    &--with-cover {

        @media (--mobile){
            display: block;
        }

        ^&__description {
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;

            @media (--mobile){
                -webkit-line-clamp: 7;
            }
        }

        ^&__cover {
            float: right;
            margin-left: 45px;

            @media (--mobile){
                margin-left: 20px;
            }

            img {
                display: block;
                border-radius: 3px;
                height: 130px;
                width: 130px;

                @media (--mobile){
                    height: 40px;
                    width: 40px;
                }
            }
        }
    }

    &--with-big-cover {
        display: flex;
        flex-direction: column;

        ^&__title {
            @media (--mobile){
                font-size: 23px;
            }
        }

        ^&__description {
            -webkit-line-clamp: 5;
        }

        ^&__cover {
            order: 3;
            margin: 20px 0 0 0;

            img {
                width: 100%;
                height: auto;
            }
        }
    }

    /**
     * Big articles view
     */
    &--big {

        ^&__title {
            font-size: 34px;

            @media (--mobile){
                font-size: 26px;
            }
        }

        ^&__description {
            font-size: 17.6px;
            margin-top: 10px;

            @media (--mobile){
                font-size: 15.6px;
            }
        }

        &.feed-item--with-cover {

            ^^&__title {
                @media (--mobile){
                    font-size: 23px;
                }
            }

            ^^&__cover {
                margin-left: 20px;
            }

            @media (--mobile){
                display: block;
            }
        }

        &.feed-item--with-big-cover {
            display: flex;

            ^^&__cover {
                margin-left: 0;
            }

            ^^&__title {
                @media (--mobile){
                    font-size: 26px;
                }
            }
        }
    }
}

/**
* Mobile viewport styles
* =================================
*/
@media (--mobile) {
    /**
    * Contest promo link on index page
    */
    .contest_alert a {
        margin: 20px 0;
    }
}