.course {
    margin: 30px 0 0;

    &--top {
        margin: 70px 0 -10px;
    }

    &__title {
        display: flex;
        max-width: var(--article-max-width);
        font-size: 16px;
        font-weight: 500;
        margin: 0 auto 25px;

        a {
            color: #6c7580;
        }
    }
}

.courses {
    &-list {
        max-width: var(--article-max-width);
        margin: 0 auto;
        padding: 0;
        list-style: none;
        position: relative;

        &::after {
            content: '';
            display: inline-block;
            position: absolute;
            top: 7px;
            bottom: 12px;
            right: 3.5px;
            z-index: 1;
            width: 2px;
            background: #e7e9f5;
        }

        &--in-feed {
            &::after {
                left: 3.5px;
            }
            ^&__item {
                &::after {
                    left: 0;
                }
            }
            ^&__link {
                padding-left: 20px;

                @media (--mobile) {
                    padding-left: 0;
                }
            }
        }

        &__item {
            position: relative;

            &::after {
                content: '';
                display: inline-block;
                position: absolute;
                z-index: 2;
                right: 0;
                top: 50%;
                transform: translateY(-50%);
                width: 5px;
                height: 5px;
                border-radius: 50%;
                background: #fff;
                border: 2px solid #e7e9f5;
                cursor: pointer;
            }

            &:hover {
                ^^&__link {
                    color: #2969b9;
                }

                &::after {
                    border-color: #2969b9;
                }
            }

            &:only-child::after {
                display: none;
            }

            &--current {

                &::after {
                    border-color: #4a90e2;
                }

                a {
                    color: var(--color-link);
                    &:hover {
                        color: var(--color-hover);
                    }
                }
            }

            &:first-of-type {
                margin-top: 7px;
            }

            &:not(:last-of-type) {
                margin-bottom: 12px;
            }
        }

        &__link {
            text-decoration: none;
            color: var(--text-gray);
            line-height: 1.5em;

            @media (--mobile) {
                padding-left: 0;
            }

            &--black {
                color: #000;
            }

            &:hover {
                text-decoration: none;
                color: color(var(--text-gray) blackness(+50%));
            }
        }
    }
}

@media (--mobile) {
    .course {
        margin: 35px 0;

        &--top {
            margin-bottom: 5px;
        }

        &__title {
            font-size: 16px;
        }
    }
    .courses-list {
        &::after {
            display: none;
        }
        &__item::after {
            display: none;
        }
    }
    .course__title--toggle {
        align-items: center;
        line-height: 19px;
        font-size: 14px;

        &::before {
            content: '';
            background: url('/public/app/img/hamburger.svg') no-repeat;
            display: block;
            width: 1px;
            height: 16px;
            margin-right: 20px;
            padding-right: 15px;
            margin-top: 5px;
        }

        + .courses-list {
            transition: opacity 1s ease-out;
            opacity: 0;
            height: 0;
            overflow: hidden;
        }

        + .courses-list--show {
            opacity: 1;
            height: auto;
        }
    }
}
