/**
 * Course Page
 */
.course-page {
    .course {

        @media (--mobile) {
            margin: 15px 0;
        }

        &-list {

            @media (--mobile) {
                border-top: 1px solid #e7e8f6;
                padding: 15px 0 0 0;
                margin-left: auto;
            }

            &::after {
                left: 6.5px;
                top: 14.5px;
                bottom: 14.5px;
                width: 3px;
            }

            &__link {
                padding-left: 30px;

                @media (--mobile) {
                    padding-left: 0px;
                }
            }

            &__item {
                font-size: 19.4px;
                line-height: 44.3px;

                @media (--mobile) {
                    font-size: 16px;
                    line-height: 1.3em;
                }

                &::after {
                    width: 10px;
                    height: 10px;
                    border-width: 3px;
                }
            }
        }
    }
}
